n8n/batch-enrich.json
{
  "name": "Leblovina — Batch enrich clubs",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "batch-enrich",
        "responseMode": "onReceived",
        "options": {}
      },
      "id": "wh",
      "name": "Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [
        -360,
        0
      ],
      "webhookId": "batch-enrich"
    },
    {
      "parameters": {
        "mode": "runOnceForAllItems",
        "language": "javaScript",
        "jsCode": "const body=($('Webhook').first().json.body)||{};\nconst ids=Array.isArray(body.ids)?body.ids.filter(Boolean):[];\nconst PB_URL=($('Config').first().json.pbUrl||'').replace(/\\/+$/,'');\nconst token=$('PB Auth').first().json.token; const pbH={Authorization:token};\nconst sd=$getWorkflowStaticData('global'); const now=new Date().toISOString();\nlet jobId=''; try{ const j=await this.helpers.httpRequest({method:'POST',url:PB_URL+'/api/collections/job_runs/records',headers:pbH,body:{kind:'batch-enrich',label:'Resolve club websites',status:'running',total:ids.length,processed:0,started:now},json:true}); jobId=j.id; }catch(e){}\nsd.jobId=jobId; sd.jobProcessed=0; sd.jobTotal=ids.length;\nif(!ids.length && jobId){ try{ await this.helpers.httpRequest({method:'PATCH',url:PB_URL+'/api/collections/job_runs/records/'+jobId,headers:pbH,body:{status:'done',finished:now,processed:0,message:'Nothing to process'},json:true}); }catch(e){} sd.jobId=''; }\nreturn ids.map(id=>({json:{id}}));\n"
      },
      "id": "split",
      "name": "Split ids",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -180,
        0
      ]
    },
    {
      "parameters": {
        "batchSize": 1,
        "options": {}
      },
      "id": "loop",
      "name": "Loop",
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 3,
      "position": [
        0,
        0
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://n8n-2.biceps.digital/webhook/enrich-club",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({ id: $json.id, force: (($('Webhook').first().json.body)||{}).force === true, recheck: (($('Webhook').first().json.body)||{}).recheck === true }) }}",
        "options": {
          "timeout": 120000
        }
      },
      "id": "enr",
      "name": "Enrich club",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        200,
        120
      ],
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "p",
              "name": "pbUrl",
              "value": "https://leblovina.tools.biceps.digital",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "id": "cfgx",
      "name": "Config",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -760,
        0
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{ $('Config').item.json.pbUrl }}/api/collections/_superusers/auth-with-password",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpCustomAuth",
        "options": {}
      },
      "id": "authx",
      "name": "PB Auth",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        -600,
        0
      ],
      "credentials": {
        "httpCustomAuth": {
          "id": "hzdBwrAqrPZjDmME",
          "name": "PocketBase admin (api)"
        }
      }
    },
    {
      "parameters": {
        "mode": "runOnceForAllItems",
        "language": "javaScript",
        "jsCode": "const sd=$getWorkflowStaticData('global');\nif(sd.jobId){ const PB_URL=($('Config').first().json.pbUrl||'').replace(/\\/+$/,''); const token=$('PB Auth').first().json.token; const pbH={Authorization:token};\n  try{ sd.jobProcessed=(sd.jobProcessed||0)+$('Loop').all().length; await this.helpers.httpRequest({method:'PATCH',url:PB_URL+'/api/collections/job_runs/records/'+sd.jobId,headers:pbH,body:{processed:Math.min(sd.jobProcessed,sd.jobTotal||sd.jobProcessed),message:'processing…'},json:true}); }catch(e){} }\nreturn $input.all();\n"
      },
      "id": "tickx",
      "name": "Job tick",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        300,
        160
      ]
    },
    {
      "parameters": {
        "mode": "runOnceForAllItems",
        "language": "javaScript",
        "jsCode": "const sd=$getWorkflowStaticData('global');\nif(sd.jobId){ const PB_URL=($('Config').first().json.pbUrl||'').replace(/\\/+$/,''); const token=$('PB Auth').first().json.token; const pbH={Authorization:token};\n  try{ await this.helpers.httpRequest({method:'PATCH',url:PB_URL+'/api/collections/job_runs/records/'+sd.jobId,headers:pbH,body:{status:'done',finished:new Date().toISOString(),processed:(sd.jobTotal||sd.jobProcessed||0),total:(sd.jobTotal||0),message:'Done'},json:true}); }catch(e){} sd.jobId=''; }\nreturn [{json:{done:true}}];\n"
      },
      "id": "finx",
      "name": "Job done",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        300,
        -160
      ]
    }
  ],
  "connections": {
    "Webhook": {
      "main": [
        [
          {
            "node": "Config",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Split ids": {
      "main": [
        [
          {
            "node": "Loop",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Loop": {
      "main": [
        [
          {
            "node": "Job done",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Enrich club",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Enrich club": {
      "main": [
        [
          {
            "node": "Job tick",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Config": {
      "main": [
        [
          {
            "node": "PB Auth",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "PB Auth": {
      "main": [
        [
          {
            "node": "Split ids",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Job tick": {
      "main": [
        [
          {
            "node": "Loop",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1"
  },
  "active": false,
  "pinData": {},
  "meta": {
    "templateId": "leblovina-batch-enrich"
  }
}