n8n/batch-enrich.json
{
  "name": "Leblovina — Batch enrich clubs",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "batch-enrich",
        "responseMode": "onReceived",
        "options": {}
      },
      "id": "wh",
      "name": "Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [
        -360,
        0
      ],
      "webhookId": "batch-enrich"
    },
    {
      "parameters": {
        "mode": "runOnceForAllItems",
        "language": "javaScript",
        "jsCode": "const body = $json.body || {};\nconst ids = Array.isArray(body.ids) ? body.ids : [];\nreturn ids.filter(Boolean).map(id => ({ json: { id } }));\n"
      },
      "id": "split",
      "name": "Split ids",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -180,
        0
      ]
    },
    {
      "parameters": {
        "batchSize": 1,
        "options": {}
      },
      "id": "loop",
      "name": "Loop",
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 3,
      "position": [
        0,
        0
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://n8n-2.biceps.digital/webhook/enrich-club",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({ id: $json.id, force: (($('Webhook').first().json.body)||{}).force === true }) }}",
        "options": {
          "timeout": 120000
        }
      },
      "id": "enr",
      "name": "Enrich club",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        200,
        120
      ],
      "onError": "continueRegularOutput"
    }
  ],
  "connections": {
    "Webhook": {
      "main": [
        [
          {
            "node": "Split ids",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Split ids": {
      "main": [
        [
          {
            "node": "Loop",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Loop": {
      "main": [
        [],
        [
          {
            "node": "Enrich club",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Enrich club": {
      "main": [
        [
          {
            "node": "Loop",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1"
  },
  "active": false,
  "pinData": {},
  "meta": {
    "templateId": "leblovina-batch-enrich"
  }
}