n8n/brevo-backfill.json
{
  "name": "Leblovina — Brevo backfill (one-time)",
  "nodes": [
    {
      "parameters": { "httpMethod": "POST", "path": "brevo-backfill", "responseMode": "responseNode", "options": {} },
      "id": "wh",
      "name": "Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [-1000, 0],
      "webhookId": "brevo-backfill"
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ { \"started\": true, \"note\": \"Importing Brevo contacts in the background.\" } }}",
        "options": {}
      },
      "id": "resp",
      "name": "Respond",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [-840, 0]
    },
    {
      "parameters": {
        "assignments": { "assignments": [
          { "id": "p", "name": "pbUrl", "value": "https://leblovina.tools.biceps.digital", "type": "string" }
        ] },
        "options": {}
      },
      "id": "cfg",
      "name": "Config",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [-680, 0]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{ $('Config').item.json.pbUrl }}/api/collections/_superusers/auth-with-password",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpCustomAuth",
        "options": {}
      },
      "id": "auth",
      "name": "PB Auth",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [-520, 0],
      "credentials": { "httpCustomAuth": { "id": "hzdBwrAqrPZjDmME", "name": "PocketBase admin (api)" } }
    },
    {
      "parameters": {
        "mode": "runOnceForAllItems",
        "language": "javaScript",
        "jsCode": "// Default = whole Brevo account (all lists). Pass body.list_id to scope to one list.\nconst body=($('Webhook').first().json.body)||{};\nconst listId=(body.list_id!=null)?Number(body.list_id):null;\nconst path=(listId!=null)?('/v3/contacts/lists/'+listId+'/contacts'):'/v3/contacts';\nreturn [{json:{path, listId}}];\n"
      },
      "id": "resolve",
      "name": "Resolve",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [-340, 0]
    },
    {
      "parameters": {
        "url": "=https://api.brevo.com{{ $json.path }}?limit=1",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "options": {}
      },
      "id": "count",
      "name": "Count",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [-160, 0],
      "credentials": { "httpHeaderAuth": { "id": "REPLACE_BREVO_CRED", "name": "Brevo (api)" } }
    },
    {
      "parameters": {
        "mode": "runOnceForAllItems",
        "language": "javaScript",
        "jsCode": "// Build explicit offset pages from Brevo's total count (deterministic — no auto-pagination).\nconst cnt = ((($('Count').first()||{}).json)||{}).count || 0;\nconst path = ((($('Resolve').first()||{}).json)||{}).path || '/v3/contacts';\nconst pages = Math.ceil(cnt/1000);\nconst out=[];\nfor(let i=0;i<pages;i++){ out.push({json:{path, offset:i*1000}}); }\nreturn out;\n"
      },
      "id": "offsets",
      "name": "Make offsets",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [20, 0]
    },
    {
      "parameters": {
        "url": "=https://api.brevo.com{{ $json.path }}?limit=1000&offset={{ $json.offset }}",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "options": { "timeout": 30000 }
      },
      "id": "page",
      "name": "Brevo page",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [200, 0],
      "onError": "continueRegularOutput",
      "credentials": { "httpHeaderAuth": { "id": "REPLACE_BREVO_CRED", "name": "Brevo (api)" } }
    },
    {
      "parameters": {
        "mode": "runOnceForAllItems",
        "language": "javaScript",
        "jsCode": "const PB_URL=($('Config').first().json.pbUrl||'').replace(/\\/+$/,'');\nconst token=$('PB Auth').first().json.token; const pbH={Authorization:token};\nconst pages=$input.all();\nlet emails=[];\nfor(const p of pages){ const cs=(p.json&&p.json.contacts)||[]; for(const c of cs){ if(c&&c.email) emails.push(String(c.email).trim().toLowerCase()); } }\nemails=[...new Set(emails)].filter(Boolean);\nlet imported=0, skipped=0;\nfor(let i=0;i<emails.length;i+=50){ await Promise.all(emails.slice(i,i+50).map(email=>this.helpers.httpRequest({method:'POST',url:PB_URL+'/api/collections/contacts/records',headers:pbH,body:{email,source_type:'brevo'},json:true}).then(()=>{imported++;}).catch(()=>{skipped++;}))); }\nreturn [{json:{imported,skipped,total:emails.length}}];\n"
      },
      "id": "upsert",
      "name": "Upsert into PB",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [400, 0]
    }
  ],
  "connections": {
    "Webhook": { "main": [[{ "node": "Respond", "type": "main", "index": 0 }]] },
    "Respond": { "main": [[{ "node": "Config", "type": "main", "index": 0 }]] },
    "Config": { "main": [[{ "node": "PB Auth", "type": "main", "index": 0 }]] },
    "PB Auth": { "main": [[{ "node": "Resolve", "type": "main", "index": 0 }]] },
    "Resolve": { "main": [[{ "node": "Count", "type": "main", "index": 0 }]] },
    "Count": { "main": [[{ "node": "Make offsets", "type": "main", "index": 0 }]] },
    "Make offsets": { "main": [[{ "node": "Brevo page", "type": "main", "index": 0 }]] },
    "Brevo page": { "main": [[{ "node": "Upsert into PB", "type": "main", "index": 0 }]] }
  },
  "settings": { "executionOrder": "v1" },
  "active": false,
  "pinData": {},
  "meta": { "templateId": "leblovina-brevo-backfill" }
}
