n8n/discover-clubs-agent.json
{
  "name": "Leblovina — Discover clubs (agent)",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "discover-agent",
        "responseMode": "responseNode",
        "options": {}
      },
      "id": "wh",
      "name": "Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [
        -600,
        0
      ],
      "webhookId": "discover-agent"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "p",
              "name": "pbUrl",
              "value": "https://leblovina.tools.biceps.digital",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "id": "cfg",
      "name": "Config",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -420,
        0
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{ $('Config').item.json.pbUrl }}/api/collections/_superusers/auth-with-password",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpCustomAuth",
        "options": {}
      },
      "id": "auth",
      "name": "PB Auth",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        -240,
        0
      ],
      "credentials": {
        "httpCustomAuth": {
          "id": "hzdBwrAqrPZjDmME",
          "name": "PocketBase admin (api)"
        }
      }
    },
    {
      "parameters": {
        "method": "GET",
        "url": "={{ $('Config').item.json.pbUrl }}/api/collections/federations/records/{{ $('Webhook').item.json.body.id }}",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "={{ $('PB Auth').item.json.token }}"
            }
          ]
        },
        "options": {}
      },
      "id": "getfed",
      "name": "Get Federation",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        -60,
        0
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://google.serper.dev/search",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({ q: $('Get Federation').item.json.country + ' volleyball federation member clubs directory list società kluby vereine clubes', num: 6 }) }}",
        "options": {}
      },
      "id": "serper",
      "name": "Serper Search",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        140,
        0
      ],
      "onError": "continueRegularOutput",
      "credentials": {
        "httpHeaderAuth": {
          "id": "oPmSDcClj5DfGKCM",
          "name": "Serper (leblovina)"
        }
      }
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.firecrawl.dev/v1/map",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({ url: $('Get Federation').item.json.website_url, limit: 40 }) }}",
        "options": {}
      },
      "id": "fcmap",
      "name": "Firecrawl Map",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        340,
        0
      ],
      "onError": "continueRegularOutput",
      "credentials": {
        "httpHeaderAuth": {
          "id": "ZxHAcWu5UlNAMy8X",
          "name": "Firecrawl (leblovina)"
        }
      }
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "mode": "list",
          "value": "claude-sonnet-4-6"
        },
        "options": {}
      },
      "id": "model",
      "name": "Anthropic Chat Model",
      "type": "@n8n/n8n-nodes-langchain.lmChatAnthropic",
      "typeVersion": 1.3,
      "position": [
        540,
        220
      ],
      "credentials": {
        "anthropicApi": {
          "id": "PsTv3b7j6pP2jeMt",
          "name": "Anthropic (leblovina)"
        }
      },
      "retryOnFail": true,
      "maxTries": 4,
      "waitBetweenTries": 8000
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=Federation to investigate:\nName: {{ $('Get Federation').item.json.name }}\nCountry: {{ $('Get Federation').item.json.country }}\nConfederation: {{ $('Get Federation').item.json.confederation }}\nKnown website (may be outdated): {{ $('Get Federation').item.json.website_url }}\n\nStarting Google results:\n{{ JSON.stringify(($('Serper Search').item.json.organic || []).slice(0,10)) }}\n\nStarting site URLs (Firecrawl map):\n{{ JSON.stringify(($('Firecrawl Map').item.json.links || []).slice(0,25)) }}\n\nInvestigate (use your tools as needed) and respond with the JSON object.",
        "options": {
          "systemMessage": "You are a discovery agent for a volleyball-club lead-gen pipeline. Given a national volleyball federation, locate the web page(s) that list its member CLUBS and classify how to extract them.\n\nArchetypes: (A) open JSON/REST API returning all clubs; (B) keyed/federated API (e.g. SAMS); (C) federated static HTML tables across many regional sub-sites; (D) JS-rendered / anti-bot directory; (E) login-gated registry; (F) no directory.\nThe club registry is often NOT on the federation's own domain (a separate registration system or regional sub-sites), and the stored website may be OUTDATED.\n\nYou have two tools:\n- serper_search(query): Google search, returns top results.\n- firecrawl_inspect(url): returns a COMPACT JSON assessment of a page (lists_clubs, sample_club_names, looks_like, links_to_directories, notes). Cheap — prefer it; follow links_to_directories to drill down.\nThe Google results and site-URL list given below are only a STARTING POINT. ACTIVELY use the tools to dig: search for the federation's real official site and its club registry (try the country + 'volleyball clubs', the federation acronym, and native-language terms like kluby/societa/vereine/clubes/clubs affilies/arabic), and scrape candidate pages to confirm they actually list clubs before concluding. Only return found=false after genuinely trying multiple searches and at least one scrape.\n\nClassify extraction_method as exactly one of: api_endpoint, static, js, pdf, none.\n\nWhen done, respond with ONLY a JSON object, no prose and no code fences:\n{\"found\": boolean, \"primary_directory_url\": string, \"directories\": [{\"url\": string, \"region\": string, \"extraction_method\": \"api_endpoint|static|js|pdf|none\"}], \"confidence\": \"high|medium|low\", \"notes\": string}\n\nBE TOKEN-FRUGAL: rely first on the provided Google results + URL list and on URL/domain patterns. Use firecrawl_scrape SPARINGLY — at most 2 pages, only to confirm a strong candidate. You do NOT need full page content, just whether clubs are listed and how. Do not scrape large listing pages in full; a glance at the top is enough. Conclude promptly.",
          "maxIterations": 7
        },
        "hasOutputParser": true
      },
      "id": "agent",
      "name": "AI Agent",
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 1.7,
      "position": [
        540,
        0
      ],
      "retryOnFail": true,
      "maxTries": 4,
      "waitBetweenTries": 8000
    },
    {
      "parameters": {
        "mode": "runOnceForAllItems",
        "language": "javaScript",
        "jsCode": "const PB_URL = ($('Config').first().json.pbUrl || '').replace(/\\/+$/, '');\nconst token = $('PB Auth').first().json.token;\nconst pbH = { Authorization: token };\nconst fedId = (($('Webhook').first().json.body) || {}).id;\n\nlet out = $('AI Agent').first().json.output;\nlet parsed;\nif (out && typeof out === 'object') { parsed = out; }\nelse {\n  let raw = String(out || '').trim().replace(/^```(json)?/i, '').replace(/```$/, '').trim();\n  try { parsed = JSON.parse(raw); }\n  catch (e) { const m = raw.match(/\\{[\\s\\S]*\\}/); parsed = m ? JSON.parse(m[0]) : { found:false, notes:'unparseable agent output', _raw: raw.slice(0,300) }; }\n}\n\nconst dirs = Array.isArray(parsed.directories) ? parsed.directories : [];\nconst m0 = dirs[0] || {};\nconst validM = ['static','js','api_endpoint','pdf','none'];\nconst method = validM.includes(parsed.extraction_method) ? parsed.extraction_method\n             : (validM.includes(m0.extraction_method) ? m0.extraction_method : '');\nlet primary = parsed.primary_directory_url || m0.url || '';\nif (!/^https?:\\/\\//i.test(primary)) primary = '';\nconst now = new Date().toISOString();\n\nconst noteStr = (parsed.confidence ? '[' + parsed.confidence + '] ' : '') + (parsed.notes || '');\n// Never blank good existing directory_urls/method/status on an empty or failed re-discovery —\n// only (over)write the directory fields when discovery actually found directories.\nconst patchBody = dirs.length > 0\n  ? { club_directory_url: primary, directory_urls: dirs, extraction_method: method, status: 'needs_review', notes: noteStr, last_scraped: now }\n  : { notes: noteStr, last_scraped: now };\nawait this.helpers.httpRequest({\n  method: 'PATCH', url: PB_URL + '/api/collections/federations/records/' + fedId, headers: pbH,\n  body: patchBody, json: true,\n});\n\nreturn [{ json: { ok: !!parsed.found, federation: fedId, primary_directory_url: primary, extraction_method: method, directories: dirs, confidence: parsed.confidence, notes: parsed.notes } }];\n"
      },
      "id": "write",
      "name": "Parse & Write",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        760,
        0
      ]
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ $json }}",
        "options": {}
      },
      "id": "resp",
      "name": "Respond",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [
        940,
        0
      ]
    },
    {
      "parameters": {
        "toolDescription": "Search Google. Input a query string to find a volleyball federation's club directory/registry or its real official website. Returns top organic results.",
        "method": "POST",
        "url": "https://google.serper.dev/search",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "{\n  \"q\": \"{query}\",\n  \"num\": 10\n}",
        "placeholderDefinitions": {
          "values": [
            {
              "name": "query",
              "description": "the Google search query",
              "type": "string"
            }
          ]
        },
        "optimizeResponse": true
      },
      "id": "serper_search",
      "name": "serper_search",
      "type": "@n8n/n8n-nodes-langchain.toolHttpRequest",
      "typeVersion": 1.1,
      "position": [
        540,
        400
      ],
      "credentials": {
        "httpHeaderAuth": {
          "id": "oPmSDcClj5DfGKCM",
          "name": "Serper (leblovina)"
        }
      }
    },
    {
      "parameters": {
        "toolDescription": "Inspect a web page and return a COMPACT JSON assessment of whether it lists volleyball clubs (lists_clubs, club_count_estimate, sample_club_names, per_club_fields, looks_like, links_to_directories, notes). Input a full URL. Use this to confirm candidates and to follow links_to_directories deeper.",
        "method": "POST",
        "url": "https://api.firecrawl.dev/v1/scrape",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "{\n  \"url\": \"{url}\",\n  \"formats\": [\"json\"],\n  \"onlyMainContent\": true,\n  \"jsonOptions\": { \"prompt\": \"Assess whether this web page is a directory/list of volleyball clubs, for a scraper. Return JSON with keys: lists_clubs (boolean), club_count_estimate (number), sample_club_names (array up to 5), per_club_fields (array of fields visible per club e.g. name/city/website), looks_like (one of static_table, js_app, api, pdf, other), links_to_directories (array of URLs on the page that look like club directory/registry pages), notes (short).\" }\n}",
        "placeholderDefinitions": {
          "values": [
            {
              "name": "url",
              "description": "the full URL to inspect",
              "type": "string"
            }
          ]
        },
        "optimizeResponse": true
      },
      "id": "firecrawl_inspect",
      "name": "firecrawl_inspect",
      "type": "@n8n/n8n-nodes-langchain.toolHttpRequest",
      "typeVersion": 1.1,
      "position": [
        720,
        400
      ],
      "credentials": {
        "httpHeaderAuth": {
          "id": "ZxHAcWu5UlNAMy8X",
          "name": "Firecrawl (leblovina)"
        }
      }
    },
    {
      "parameters": {
        "schemaType": "manual",
        "inputSchema": "{\"type\": \"object\", \"properties\": {\"found\": {\"type\": \"boolean\"}, \"primary_directory_url\": {\"type\": \"string\"}, \"directories\": {\"type\": \"array\", \"items\": {\"type\": \"object\", \"properties\": {\"url\": {\"type\": \"string\"}, \"region\": {\"type\": \"string\"}, \"extraction_method\": {\"type\": \"string\"}}}}, \"confidence\": {\"type\": \"string\"}, \"notes\": {\"type\": \"string\"}}, \"required\": [\"found\"]}"
      },
      "id": "parser",
      "name": "Structured Output",
      "type": "@n8n/n8n-nodes-langchain.outputParserStructured",
      "typeVersion": 1.2,
      "position": [
        760,
        360
      ]
    }
  ],
  "connections": {
    "Webhook": {
      "main": [
        [
          {
            "node": "Config",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Config": {
      "main": [
        [
          {
            "node": "PB Auth",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "PB Auth": {
      "main": [
        [
          {
            "node": "Get Federation",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get Federation": {
      "main": [
        [
          {
            "node": "Serper Search",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Serper Search": {
      "main": [
        [
          {
            "node": "Firecrawl Map",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Firecrawl Map": {
      "main": [
        [
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Anthropic Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "AI Agent": {
      "main": [
        [
          {
            "node": "Parse & Write",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Parse & Write": {
      "main": [
        [
          {
            "node": "Respond",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "serper_search": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Structured Output": {
      "ai_outputParser": [
        [
          {
            "node": "AI Agent",
            "type": "ai_outputParser",
            "index": 0
          }
        ]
      ]
    },
    "firecrawl_inspect": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1"
  },
  "active": false,
  "pinData": {},
  "meta": {
    "templateId": "leblovina-discover-agent"
  }
}