n8n/enrich-club.json
{
  "name": "Leblovina — Enrich club website",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "enrich-club",
        "responseMode": "responseNode",
        "options": {}
      },
      "id": "wh",
      "name": "Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [
        -500,
        0
      ],
      "webhookId": "enrich-club"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "p",
              "name": "pbUrl",
              "value": "https://leblovina.tools.biceps.digital",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "id": "cfg",
      "name": "Config",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -340,
        0
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{ $('Config').item.json.pbUrl }}/api/collections/_superusers/auth-with-password",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpCustomAuth",
        "options": {}
      },
      "id": "auth",
      "name": "PB Auth",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        -180,
        0
      ],
      "credentials": {
        "httpCustomAuth": {
          "id": "hzdBwrAqrPZjDmME",
          "name": "PocketBase admin (api)"
        }
      }
    },
    {
      "parameters": {
        "method": "GET",
        "url": "={{ $('Config').item.json.pbUrl }}/api/collections/clubs/records/{{ $('Webhook').item.json.body.id }}",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "={{ $('PB Auth').item.json.token }}"
            }
          ]
        },
        "options": {}
      },
      "id": "getc",
      "name": "Get Club",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        -20,
        0
      ]
    },
    {
      "parameters": {
        "mode": "runOnceForAllItems",
        "language": "javaScript",
        "jsCode": "const club = $('Get Club').first().json;\nconst url = (club.website_url || '').trim();\nconst isLive = (c) => (c >= 200 && c < 400) || c === 401 || c === 403 || c === 429; // exists (maybe bot-blocked)\nlet live = false;\nif (url) {\n  try {\n    const res = await this.helpers.httpRequest({ method:'GET', url, timeout:8000, returnFullResponse:true, ignoreHttpStatusErrors:true, followRedirect:true, headers:{'User-Agent':'Mozilla/5.0 (compatible; leblovina)'} });\n    live = isLive(res.statusCode || 0);\n  } catch(e) { live = false; }   // DNS fail / timeout / refused -> dead\n}\nconst stop = new Set(['volley','volleyball','voley','voleibol','pallavolo','club','clube','klub','kluby','asd','ssd','polisportiva','associazione','association','sportiva','sport','sports','team','siatkowki','siatkowka','the','de','di','del','la','el','of','and','vc','cv','vbc','vk']);\nconst tokens = String(club.name||'').toLowerCase().normalize('NFD').replace(/\\p{M}/gu,'').replace(/[^\\p{L}\\p{N}\\s]/gu,' ').split(/\\s+/).filter(t => t.length>=3 && !stop.has(t));\nconst q = [club.name, club.city, club.country, 'volleyball'].filter(Boolean).join(' ');\nconst q2 = [club.name, club.city, club.country].filter(Boolean).join(' ');   // D: broader requery (no sport term) -> fallback pool only\nconst src = String(club.website_source||'');\nconst force = !!(($('Webhook').first().json.body)||{}).force;   // 'resolve all' re-resolves auto/empty-sourced clubs even if currently live\nconst recheck = !!(($('Webhook').first().json.body)||{}).recheck;   // re-harvest + belongs-check an existing live URL without re-spending Serper\nconst protectedSrc = (src==='official_list' || src==='manual');\nconst needsResolve = (force && !protectedSrc) ? true : !live;\nreturn [{ json: { clubId: club.id, name: club.name, city: club.city, country: club.country, currentUrl: url, currentSource: src, live, needsResolve, recheck, nameTokens: tokens, query: q, query2: q2 } }];\n"
      },
      "id": "val",
      "name": "Validate",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        140,
        0
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://google.serper.dev/search",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({ q: $('Validate').item.json.query, num: 6 }) }}",
        "options": {}
      },
      "id": "serp",
      "name": "Serper Search",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        300,
        0
      ],
      "onError": "continueRegularOutput",
      "credentials": {
        "httpHeaderAuth": {
          "id": "oPmSDcClj5DfGKCM",
          "name": "Serper (leblovina)"
        }
      }
    },
    {
      "parameters": {
        "mode": "runOnceForAllItems",
        "language": "javaScript",
        "jsCode": "const v = $('Validate').first().json;\nconst club = $('Get Club').first().json;\nconst clubId = v.clubId;\nconst curSource = String(v.currentSource||'');\nconst isLive = (c) => (c >= 200 && c < 400) || c === 401 || c === 403 || c === 429;\nconst hostOf = (u) => String(u||'').replace(/^https?:\\/\\//i,'').replace(/^www\\./i,'').split(/[\\/?#]/)[0].toLowerCase();\nconst pathOf = (u) => { const s = String(u||'').replace(/^https?:\\/\\//i,''); const i = s.search(/[\\/?#]/); if (i < 0) return ''; return s.slice(i).split(/[?#]/)[0]; };\nconst blocked = /(facebook|instagram|twitter|x\\.com|linkedin|youtube|tiktok|wikipedia|volleybox|sofascore|flashscore|transfermarkt|eurosport|maps\\.google|google\\.|tripadvisor|yelp|amazon|ticketmaster|eventim|ticketportal|ticketpro|spordiregister|rejstrik|\\.gov)/i;\nconst UA = { 'User-Agent':'Mozilla/5.0 (compatible; leblovina)' };\nconst get = async (u) => { try { const r = await this.helpers.httpRequest({ method:'GET', url:u, timeout:8000, returnFullResponse:true, ignoreHttpStatusErrors:true, followRedirect:true, headers:UA }); return { ok:isLive(r.statusCode||0), status:r.statusCode||0, body:String(r.body||'') }; } catch(e){ return { ok:false, status:0, body:'' }; } };\n\n// B: probe https / https+www / http; prefer canonical-tag host variant\nconst fetchHost = async (host) => {\n  for (const u of ['https://'+host, 'https://www.'+host, 'http://'+host]) {\n    const r = await get(u);\n    if (r.ok && r.body) {\n      let root = u.replace(/\\/$/,'');\n      const cm = r.body.match(/<link[^>]+rel=[\"']canonical[\"'][^>]+href=[\"']([^\"']+)[\"']/i) || r.body.match(/<link[^>]+href=[\"']([^\"']+)[\"'][^>]+rel=[\"']canonical[\"']/i);\n      if (cm && /^https?:\\/\\//i.test(cm[1])) { const ch = hostOf(cm[1]); if (ch && ch === host) { const cu = cm[1].split(/[?#]/)[0].replace(/\\/$/,''); if (pathOf(cu)==='' ) root = cu; } }\n      return { ok:true, status:r.status, body:r.body, root };\n    }\n  }\n  return { ok:false, status:0, body:'', root:'https://'+host };\n};\n\n// A: deterministic contact-signal harvest from an already-fetched body ($0)\nconst harvest = (body, host) => {\n  const out = { emails:[], contact_url:'', socials:{}, site_lang:'' };\n  if (!body || body.length < 50) return out;\n  const lm = body.match(/<html[^>]*\\blang=[\"']([a-z]{2})(?:[-_][a-z]{2})?[\"']/i);\n  if (lm) out.site_lang = lm[1].toLowerCase();\n  else { const om = body.match(/<meta[^>]+property=[\"']og:locale[\"'][^>]+content=[\"']([a-z]{2})/i); if (om) out.site_lang = om[1].toLowerCase(); }\n  const bad = /(\\.png|\\.jpg|\\.jpeg|\\.gif|\\.svg|\\.webp|\\.ico|example\\.|sentry|wixpress|\\.wix|godaddy|sedo|your[-.]?email|email@example|domain\\.com|test@|@example|@sentry|\\.0\\b)/i;\n  const emails = new Set();\n  let m;\n  const reMailto = /mailto:([^\"'?>\\s]+)/gi;\n  while ((m = reMailto.exec(body))) { let e=''; try { e = decodeURIComponent(m[1]); } catch(_) { e = m[1]; } e = e.toLowerCase().trim(); if (/^[a-z0-9._%+\\-]+@[a-z0-9.\\-]+\\.[a-z]{2,}$/.test(e) && !bad.test(e)) emails.add(e); }\n  const txt = body.replace(/<style[\\s\\S]*?<\\/style>/gi,' ').replace(/<script[\\s\\S]*?<\\/script>/gi,' ');\n  const reMail = /[a-z0-9._%+\\-]+@[a-z0-9.\\-]+\\.[a-z]{2,}/gi;\n  while ((m = reMail.exec(txt))) { const e = m[0].toLowerCase(); if (!bad.test(e)) emails.add(e); }\n  out.emails = Array.from(emails).slice(0,15);\n  const soc = { facebook:/https?:\\/\\/(?:www\\.)?facebook\\.com\\/[^\\s\"'<>]+/i, instagram:/https?:\\/\\/(?:www\\.)?instagram\\.com\\/[^\\s\"'<>]+/i, youtube:/https?:\\/\\/(?:www\\.)?youtube\\.com\\/[^\\s\"'<>]+/i, tiktok:/https?:\\/\\/(?:www\\.)?tiktok\\.com\\/@?[^\\s\"'<>]+/i, twitter:/https?:\\/\\/(?:www\\.)?(?:twitter|x)\\.com\\/[^\\s\"'<>]+/i, linkedin:/https?:\\/\\/(?:www\\.)?linkedin\\.com\\/[^\\s\"'<>]+/i };\n  for (const k in soc) { const mm = body.match(soc[k]); if (mm) out.socials[k] = mm[0].replace(/[\\\\\"'<>].*$/,''); }\n  const kw = /(kontakt|contact|impressum|imprint|about|o-?nas|chi-?siamo|contatti|contacto|contacta|mentions-?legales|nous-?contacter|coordonnees|kapcsolat|kontakti)/i;\n  const reA = /<a\\b[^>]*href=[\"']([^\"']+)[\"'][^>]*>([\\s\\S]*?)<\\/a>/gi; let a;\n  while ((a = reA.exec(body))) {\n    const href = a[1]; const label = a[2].replace(/<[^>]+>/g,' ');\n    if (href && (kw.test(href) || kw.test(label)) && !/^(mailto:|tel:|javascript:|#)/i.test(href)) {\n      out.contact_url = /^https?:\\/\\//i.test(href) ? href : ('https://'+host+'/'+href.replace(/^\\.?\\//,'').replace(/^\\//,''));\n      break;\n    }\n  }\n  return out;\n};\n\n// Tier-0 belongs heuristic on a fetched body for a given host\nconst evaluate = (body, host) => {\n  const norm = (s)=>String(s||'').toLowerCase().normalize('NFD').replace(/\\p{M}/gu,'');\n  const grab = (re)=>{ const mm=body.match(re); return mm?mm[1]:''; };\n  const title = grab(/<title[^>]*>([\\s\\S]*?)<\\/title>/i);\n  const ogSite = grab(/<meta[^>]+property=[\"']og:site_name[\"'][^>]+content=[\"']([^\"']*)[\"']/i);\n  const ogTitle = grab(/<meta[^>]+property=[\"']og:title[\"'][^>]+content=[\"']([^\"']*)[\"']/i);\n  const h1 = grab(/<h1[^>]*>([\\s\\S]*?)<\\/h1>/i).replace(/<[^>]+>/g,' ');\n  const head = norm(title+' '+ogSite+' '+ogTitle+' '+h1);\n  const text = norm(body.replace(/<script[\\s\\S]*?<\\/script>/gi,' ').replace(/<style[\\s\\S]*?<\\/style>/gi,' ').replace(/<[^>]+>/g,' ')).replace(/\\s+/g,' ').slice(0,8000);\n  const tokens = Array.isArray(v.nameTokens) ? v.nameTokens : [];\n  const headHit = tokens.some(t => head.includes(t));\n  const bodyHit = tokens.some(t => text.includes(t));\n  const CC = {'albania':'al','andorra':'ad','armenia':'am','austria':'at','azerbaijan':'az','belarus':'by','belgium':'be','bosnia and herzegovina':'ba','bulgaria':'bg','croatia':'hr','cyprus':'cy','czech republic':'cz','czechia':'cz','denmark':'dk','estonia':'ee','finland':'fi','france':'fr','georgia':'ge','germany':'de','greece':'gr','hungary':'hu','iceland':'is','ireland':'ie','israel':'il','italy':'it','kosovo':'xk','latvia':'lv','liechtenstein':'li','lithuania':'lt','luxembourg':'lu','malta':'mt','moldova':'md','monaco':'mc','montenegro':'me','netherlands':'nl','north macedonia':'mk','norway':'no','poland':'pl','portugal':'pt','romania':'ro','russia':'ru','san marino':'sm','serbia':'rs','slovakia':'sk','slovenia':'si','spain':'es','sweden':'se','switzerland':'ch','turkey':'tr','ukraine':'ua','united kingdom':'uk'};\n  const tld = host.split('.').pop();\n  const cc = CC[String(club.country||'').toLowerCase().trim()];\n  const ccMatch = !!cc && (tld===cc || host.endsWith('.'+cc));\n  const geoText = (club.country && text.includes(norm(club.country))) || (club.city && String(club.city).length>=3 && text.includes(norm(club.city)));\n  const geo = ccMatch || geoText;\n  const dom = host.replace(/[^a-z0-9]/g,'');\n  const domHit = tokens.some(t => { const tt=norm(t).replace(/[^a-z0-9]/g,''); return tt.length>=3 && dom.includes(tt); });\n  const parked = /(domain (is |may be )?for sale|buy this domain|this domain is for sale|sedoparking|hugedomains|parking-?lander|godaddy)/i.test(body);\n  const linkCount = (body.match(/<a\\b/gi)||[]).length;\n  const directoryish = linkCount>120 && !headHit;\n  const VB = /(volley|voleib|voley|pallavolo|siatk|odbojk|roplab|tinklin|воле|voleybol|lentopallo|volleybal|petosf|πετοσφ|βολε)/i;\n  const hasVB = VB.test(head) || VB.test(text) || VB.test(dom);\n  const MS = /(polisportiv|polideportiv|omnisport|multisport|abteilung|sektion|sezione|seccion|sportgemeinschaft|turnverein|club deportivo)/i;\n  const SPORTS = ['football','soccer','fussball','futbol','calcio','basketball','basket','handball','athletic','leichtathletik','schwimm','swimming','natacion','tennis','judo','karate','gymnast','turnen','tischtennis','badminton','hockey','rugby','boxing','atletismo','ciclis','skating','futsal'];\n  const sportCount = SPORTS.filter(s => text.includes(s)).length;\n  const multi = MS.test(text) || sportCount>=3;\n  let verdict='ambiguous', confidence='', club_type='';\n  if (parked || directoryish) { verdict='hardfail'; confidence='C'; }\n  else if (!hasVB) { verdict='novb'; confidence='C'; }\n  else if (headHit && (geo || domHit)) { verdict='strong'; confidence='A'; }\n  else { verdict='ambiguous'; }\n  if (hasVB) { if (multi) club_type='multisport'; else if (VB.test(head) || VB.test(dom)) club_type='volleyball'; }\n  const page = { title: title.replace(/\\s+/g,' ').trim().slice(0,200), ogSite: ogSite.slice(0,200), h1: h1.replace(/\\s+/g,' ').trim().slice(0,200), excerpt: text.slice(0,1800), headHit, bodyHit, geo, domHit, hasVB, sportCount, club_type_guess: club_type };\n  return { verdict, confidence, club_type, hasVB, parked, directoryish, page };\n};\n\nlet chosen='', source=curSource, status='live', resolved=false, body='', section_url='';\nlet confidence='', club_type='', verdict='done', page=null, harvested=false, triedCount=0;\nlet sig = { emails:[], contact_url:'', socials:{}, site_lang:'' };\n\nif (!v.needsResolve) {\n  // already live; keep the URL. On recheck, fetch + harvest (A) + re-run belongs (serper only).\n  chosen = v.currentUrl; status = 'live';\n  if (v.recheck && chosen) {\n    const host = hostOf(chosen);\n    const r = await get(chosen);\n    if (r.ok && r.body) body = r.body;\n    if (body && body.length > 200) {\n      harvested = true;\n      sig = harvest(body, host);\n      if (curSource === 'serper') {\n        const ev = evaluate(body, host);\n        verdict = ev.verdict; if (ev.confidence) confidence = ev.confidence; club_type = ev.club_type; page = ev.page;\n      }\n    }\n  }\n  if (status==='live' && (curSource==='official_list' || curSource==='manual') && !confidence) confidence='A';\n} else {\n  // C+D: ordered candidate pool = LLM pick + query-1 organic + query-2 organic\n  let raw = String(($('Pick site').first().json||{}).output || '').trim().replace(/^```(json)?/i,'').replace(/```\\s*$/,'').trim();\n  let pick=''; try { const o=JSON.parse(raw); pick=String(o.url||'').trim(); } catch(e){ const mm=raw.match(/https?:\\/\\/[^\\s\"'}]+/); pick=mm?mm[0]:''; }\n  const org1 = (($('Serper Search').first().json||{}).organic) || [];\n  let org2 = []; try { org2 = (($('Serper Search 2').first().json||{}).organic) || []; } catch(e){}\n  const ordered = [];\n  const pushUrl = (u) => { if (!u || !/^https?:\\/\\//i.test(u)) return; const h = hostOf(u); if (!h || blocked.test(h)) return; ordered.push({ url:u, host:h }); };\n  pushUrl(pick);\n  org1.forEach(r => pushUrl(r.link));\n  org2.forEach(r => pushUrl(r.link));\n  const seen = new Set(); const cands = [];\n  for (const c of ordered) { if (seen.has(c.host)) continue; seen.add(c.host); cands.push(c); }\n  let bestLive = null, bestVB = null;\n  for (const c of cands) {\n    if (triedCount >= 5) break;\n    triedCount++;\n    const fh = await fetchHost(c.host);\n    if (!fh.ok || !fh.body) continue;\n    const ev = evaluate(fh.body, c.host);\n    const rec = { c, fh, ev };\n    if (!bestLive) bestLive = rec;\n    if (ev.hasVB && !ev.parked && !ev.directoryish) { bestVB = rec; break; }\n  }\n  const winner = bestVB || bestLive;\n  if (winner) {\n    const host = winner.c.host;\n    chosen = winner.fh.root || ('https://'+host);\n    body = winner.fh.body;\n    source = 'serper'; status = 'live'; resolved = true;\n    verdict = winner.ev.verdict; confidence = winner.ev.confidence; club_type = winner.ev.club_type; page = winner.ev.page;\n    const p = pathOf(winner.c.url);\n    const sectiony = /(volley|voley|pallavolo|siatk|odbojk|abteilung|sektion|sezione|seccion|section|sparte|afdeling|departement)/i.test(p);\n    if (p && p !== '/' && p.length > 1 && (club_type === 'multisport' || sectiony)) section_url = winner.c.url.split(/[?#]/)[0];\n    harvested = true;\n    sig = harvest(body, host);\n  } else {\n    chosen=''; source='none'; status = v.currentUrl ? 'dead' : 'not_found';\n  }\n}\n\nconst routeAmbiguous = (verdict==='ambiguous');\nreturn [{ json: {\n  clubId, chosen, source, status, confidence, club_type, verdict, routeAmbiguous, page,\n  section_url, emails: sig.emails, contact_url: sig.contact_url, socials: sig.socials, site_lang: sig.site_lang,\n  harvested, triedCount,\n  name: v.name, city: v.city, country: v.country\n} }];\n"
      },
      "id": "fin",
      "name": "Resolve site",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        820,
        0
      ]
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ $json }}",
        "options": {}
      },
      "id": "resp",
      "name": "Respond",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [
        1560,
        0
      ]
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "mode": "list",
          "value": "claude-haiku-4-5"
        },
        "options": {
          "maxTokensToSample": 500
        }
      },
      "id": "pmodel",
      "name": "Anthropic Chat Model",
      "type": "@n8n/n8n-nodes-langchain.lmChatAnthropic",
      "typeVersion": 1.3,
      "position": [
        640,
        200
      ],
      "credentials": {
        "anthropicApi": {
          "id": "PsTv3b7j6pP2jeMt",
          "name": "Anthropic (leblovina)"
        }
      }
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "={{ JSON.stringify({ name: $('Validate').item.json.name, city: $('Validate').item.json.city, country: $('Validate').item.json.country, results: (($('Serper Search').item.json.organic)||[]).slice(0,8).map(r=>({title:r.title,link:r.link,snippet:r.snippet})) }) }}",
        "options": {
          "systemMessage": "You are given a volleyball club (name, city, country) and Google search results as JSON {name,city,country,results:[{title,link,snippet}]}. Choose the SINGLE result that is the club's OWN official website. Return ONLY JSON - no prose, no code fences - {\"url\":string,\"reason\":string}: url is the exact link copied from results, or \"\" if none qualifies. The club's own site may use a translated, nickname or abbreviated domain (it need NOT contain the club name literally) - judge by whether the page is the club's own home/official site. EXCLUDE and never choose: social media (facebook, instagram, x/twitter, tiktok, youtube, linkedin), ticketing (ticketmaster, eventim, ticketportal...), sport registries/databases/stats (spordiregister and other national sport registers, volleybox, sofascore, flashscore, transfermarkt), news articles, blogs, wikis, company/registry/business listings, generic directories or aggregators, the national volleyball federation's own site, marketplaces and government sites. Only return a url that appears verbatim in results. If unsure or none is clearly the club's own website, return \"\"."
        }
      },
      "id": "pick",
      "name": "Pick site",
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 1.7,
      "position": [
        460,
        200
      ]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "loose",
            "version": 2
          },
          "combinator": "and",
          "conditions": [
            {
              "id": "c1",
              "leftValue": "={{ $json.routeAmbiguous }}",
              "rightValue": "",
              "operator": {
                "type": "boolean",
                "operation": "true",
                "singleValue": true
              }
            }
          ]
        },
        "options": {}
      },
      "id": "ifamb",
      "name": "Ambiguous?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        1000,
        0
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.anthropic.com/v1/messages",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "anthropicApi",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "anthropic-version",
              "value": "2023-06-01"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({ model: 'claude-haiku-4-5', max_tokens: 220, messages: [ { role: 'user', content: 'Decide whether a web page is the official website of THIS specific volleyball club, and classify the club. Club: ' + JSON.stringify({name: $json.name, city: $json.city, country: $json.country}) + '. Page signals: ' + JSON.stringify($json.page) + '. Answer ONLY with compact JSON {\"belongs\":\"yes\"|\"no\"|\"unsure\",\"club_type\":\"volleyball\"|\"multisport\"|\"unknown\",\"confidence\":0,\"reason\":\"\"}. belongs=yes only if this is this clubs own official site (same club, same city and country) - not a namesake club elsewhere, a league or results page, a directory, or an aggregator. club_type: volleyball if a dedicated volleyball club, multisport if a multi-sport club that has a volleyball section, unknown otherwise.' } ] }) }}",
        "options": {
          "timeout": 20000
        }
      },
      "id": "belong",
      "name": "Belongs check",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1180,
        -140
      ],
      "onError": "continueRegularOutput",
      "credentials": {
        "anthropicApi": {
          "id": "PsTv3b7j6pP2jeMt",
          "name": "Anthropic (leblovina)"
        }
      }
    },
    {
      "parameters": {
        "mode": "runOnceForAllItems",
        "language": "javaScript",
        "jsCode": "const PB_URL = ($('Config').first().json.pbUrl || '').replace(/\\/+$/, '');\nconst token = $('PB Auth').first().json.token; const pbH = { Authorization: token };\nconst r = $('Resolve site').first().json; const clubId = r.clubId;\nlet conf = r.confidence || '';\nlet ct = r.club_type || '';\nif (r.verdict === 'ambiguous') {\n  let belongs = 'unsure', lct = '';\n  try {\n    const resp = $('Belongs check').first().json;\n    const txt = (resp && resp.content && resp.content[0] && resp.content[0].text) || '';\n    const o = JSON.parse(String(txt).replace(/```json/gi,'').replace(/```/g,'').trim());\n    belongs = String(o.belongs||'unsure').toLowerCase();\n    lct = String(o.club_type||'').toLowerCase();\n  } catch(e) {}\n  conf = (belongs === 'yes') ? 'B' : 'C';\n  if (!ct && (lct === 'volleyball' || lct === 'multisport')) ct = lct;\n}\nconst body = { website_url: r.chosen, website_source: r.source, website_status: r.status };\nif (conf) body.website_confidence = conf;\nif (ct) body.club_type = ct;\n// enrichment signals — only when a real body was harvested, and only non-empty (never blank good data)\nif (r.harvested) {\n  if (Array.isArray(r.emails) && r.emails.length) body.website_emails = r.emails;\n  if (r.contact_url) body.contact_url = r.contact_url;\n  if (r.socials && Object.keys(r.socials).length) body.socials = r.socials;\n  if (r.site_lang) body.site_lang = r.site_lang;\n}\nif (r.section_url) body.section_url = r.section_url;\nawait this.helpers.httpRequest({ method:'PATCH', url:PB_URL+'/api/collections/clubs/records/'+clubId, headers:pbH, body, json:true });\nconst action = !r.chosen ? r.status : ((r.source!=='serper') ? 'live' : 'resolved');\nreturn [{ json: { ok:true, clubId, action, url:r.chosen, confidence: conf||'unknown', club_type: ct||'unknown', emails: (r.emails||[]).length, contact_url: r.contact_url||'', socials: Object.keys(r.socials||{}), site_lang: r.site_lang||'', section_url: r.section_url||'', tried: r.triedCount||0 } }];\n"
      },
      "id": "patch",
      "name": "Patch",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1380,
        0
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://google.serper.dev/search",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({ q: $('Validate').item.json.query2, num: 6 }) }}",
        "options": {}
      },
      "id": "serp2",
      "name": "Serper Search 2",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        300,
        180
      ],
      "onError": "continueRegularOutput",
      "credentials": {
        "httpHeaderAuth": {
          "id": "oPmSDcClj5DfGKCM",
          "name": "Serper (leblovina)"
        }
      }
    }
  ],
  "connections": {
    "Webhook": {
      "main": [
        [
          {
            "node": "Config",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Config": {
      "main": [
        [
          {
            "node": "PB Auth",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "PB Auth": {
      "main": [
        [
          {
            "node": "Get Club",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get Club": {
      "main": [
        [
          {
            "node": "Validate",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Validate": {
      "main": [
        [
          {
            "node": "Serper Search",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Serper Search": {
      "main": [
        [
          {
            "node": "Serper Search 2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Pick site": {
      "main": [
        [
          {
            "node": "Resolve site",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Anthropic Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "Pick site",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Resolve site": {
      "main": [
        [
          {
            "node": "Ambiguous?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Ambiguous?": {
      "main": [
        [
          {
            "node": "Belongs check",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Patch",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Belongs check": {
      "main": [
        [
          {
            "node": "Patch",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Patch": {
      "main": [
        [
          {
            "node": "Respond",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Serper Search 2": {
      "main": [
        [
          {
            "node": "Pick site",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1"
  },
  "active": false,
  "pinData": {},
  "meta": {
    "templateId": "leblovina-enrich-club"
  }
}
