n8n/enrich-club.json
{
  "name": "Leblovina — Enrich club website",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "enrich-club",
        "responseMode": "responseNode",
        "options": {}
      },
      "id": "wh",
      "name": "Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [
        -500,
        0
      ],
      "webhookId": "enrich-club"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "p",
              "name": "pbUrl",
              "value": "https://leblovina.tools.biceps.digital",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "id": "cfg",
      "name": "Config",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -340,
        0
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{ $('Config').item.json.pbUrl }}/api/collections/_superusers/auth-with-password",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpCustomAuth",
        "options": {}
      },
      "id": "auth",
      "name": "PB Auth",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        -180,
        0
      ],
      "credentials": {
        "httpCustomAuth": {
          "id": "hzdBwrAqrPZjDmME",
          "name": "PocketBase admin (api)"
        }
      }
    },
    {
      "parameters": {
        "method": "GET",
        "url": "={{ $('Config').item.json.pbUrl }}/api/collections/clubs/records/{{ $('Webhook').item.json.body.id }}",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "={{ $('PB Auth').item.json.token }}"
            }
          ]
        },
        "options": {}
      },
      "id": "getc",
      "name": "Get Club",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        -20,
        0
      ]
    },
    {
      "parameters": {
        "mode": "runOnceForAllItems",
        "language": "javaScript",
        "jsCode": "const club = $('Get Club').first().json;\nconst url = (club.website_url || '').trim();\nconst isLive = (c) => (c >= 200 && c < 400) || c === 401 || c === 403 || c === 429; // exists (maybe bot-blocked)\nlet live = false;\nif (url) {\n  try {\n    const res = await this.helpers.httpRequest({ method:'GET', url, timeout:8000, returnFullResponse:true, ignoreHttpStatusErrors:true, followRedirect:true, headers:{'User-Agent':'Mozilla/5.0 (compatible; leblovina)'} });\n    live = isLive(res.statusCode || 0);\n  } catch(e) { live = false; }   // DNS fail / timeout / refused -> dead\n}\nconst stop = new Set(['volley','volleyball','voley','voleibol','pallavolo','club','clube','klub','kluby','asd','ssd','polisportiva','associazione','association','sportiva','sport','sports','team','siatkowki','siatkowka','the','de','di','del','la','el','of','and','vc','cv','vbc','vk']);\nconst tokens = String(club.name||'').toLowerCase().normalize('NFD').replace(/\\p{M}/gu,'').replace(/[^\\p{L}\\p{N}\\s]/gu,' ').split(/\\s+/).filter(t => t.length>=3 && !stop.has(t));\nconst q = [club.name, club.city, club.country, 'volleyball'].filter(Boolean).join(' ');\nconst src = String(club.website_source||'');\nconst force = !!(($('Webhook').first().json.body)||{}).force;   // 'resolve all' re-resolves auto/empty-sourced clubs even if currently live\nconst protectedSrc = (src==='official_list' || src==='manual');\nconst needsResolve = (force && !protectedSrc) ? true : !live;\nreturn [{ json: { clubId: club.id, name: club.name, city: club.city, country: club.country, currentUrl: url, live, needsResolve, nameTokens: tokens, query: q } }];\n"
      },
      "id": "val",
      "name": "Validate",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        140,
        0
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://google.serper.dev/search",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({ q: $('Validate').item.json.query, num: 6 }) }}",
        "options": {}
      },
      "id": "serp",
      "name": "Serper Search",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        300,
        0
      ],
      "onError": "continueRegularOutput",
      "credentials": {
        "httpHeaderAuth": {
          "id": "oPmSDcClj5DfGKCM",
          "name": "Serper (leblovina)"
        }
      }
    },
    {
      "parameters": {
        "mode": "runOnceForAllItems",
        "language": "javaScript",
        "jsCode": "const PB_URL = ($('Config').first().json.pbUrl || '').replace(/\\/+$/, '');\nconst token = $('PB Auth').first().json.token; const pbH = { Authorization: token };\nconst v = $('Validate').first().json; const clubId = v.clubId;\nconst patch = (body) => this.helpers.httpRequest({ method:'PATCH', url:PB_URL+'/api/collections/clubs/records/'+clubId, headers:pbH, body, json:true });\nconst isLive = (c) => (c >= 200 && c < 400) || c === 401 || c === 403 || c === 429;\nconst hostOf = (u) => String(u||'').replace(/^https?:\\/\\//i,'').replace(/^www\\./i,'').split(/[\\/?#]/)[0].toLowerCase();\n\nif (!v.needsResolve) { await patch({ website_status:'live' }); return [{ json:{ ok:true, clubId, action:'live', url:v.currentUrl } }]; }\n\nconst organic = ($('Serper Search').first().json.organic) || [];\nconst candidateHosts = new Set(organic.map(r=>hostOf(r.link)).filter(Boolean));\n// safety net — the LLM should already avoid these, but never accept them\nconst blocked = /(facebook|instagram|twitter|x\\.com|linkedin|youtube|tiktok|wikipedia|volleybox|sofascore|flashscore|transfermarkt|eurosport|maps\\.google|google\\.|tripadvisor|yelp|amazon|ticketmaster|eventim|ticketportal|ticketpro|spordiregister|rejstrik|\\.gov)/i;\n\nlet raw = String(($('Pick site').first().json||{}).output || '').trim().replace(/^```(json)?/i,'').replace(/```\\s*$/,'').trim();\nlet pick=''; try { const o=JSON.parse(raw); pick=String(o.url||'').trim(); } catch(e){ const m=raw.match(/https?:\\/\\/[^\\s\"'}]+/); pick=m?m[0]:''; }\n\nlet chosen='';\nif (pick && /^https?:\\/\\//i.test(pick)) {\n  const host = hostOf(pick);\n  // only trust a host the LLM actually saw in the results (no hallucinated domains), and not blocked\n  if (host && candidateHosts.has(host) && !blocked.test(host)) {\n    const cand='https://'+host;\n    try { const res=await this.helpers.httpRequest({ method:'GET', url:cand, timeout:8000, returnFullResponse:true, ignoreHttpStatusErrors:true, followRedirect:true, headers:{'User-Agent':'Mozilla/5.0 (compatible; leblovina)'} }); if(isLive(res.statusCode||0)) chosen=cand; } catch(e){}\n  }\n}\nif (chosen) { await patch({ website_url:chosen, website_source:'serper', website_status:'live' }); return [{ json:{ ok:true, clubId, action:'resolved', url:chosen } }]; }\nconst status = v.currentUrl ? 'dead' : 'not_found';\nawait patch({ website_url:'', website_source:'none', website_status:status });\nreturn [{ json:{ ok:true, clubId, action:status, pick } }];\n"
      },
      "id": "fin",
      "name": "Finalize",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        820,
        0
      ]
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ $json }}",
        "options": {}
      },
      "id": "resp",
      "name": "Respond",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [
        1000,
        0
      ]
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "mode": "list",
          "value": "claude-haiku-4-5"
        },
        "options": {
          "maxTokensToSample": 500
        }
      },
      "id": "pmodel",
      "name": "Anthropic Chat Model",
      "type": "@n8n/n8n-nodes-langchain.lmChatAnthropic",
      "typeVersion": 1.3,
      "position": [
        640,
        200
      ],
      "credentials": {
        "anthropicApi": {
          "id": "PsTv3b7j6pP2jeMt",
          "name": "Anthropic (leblovina)"
        }
      }
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "={{ JSON.stringify({ name: $('Validate').item.json.name, city: $('Validate').item.json.city, country: $('Validate').item.json.country, results: (($('Serper Search').item.json.organic)||[]).slice(0,8).map(r=>({title:r.title,link:r.link,snippet:r.snippet})) }) }}",
        "options": {
          "systemMessage": "You are given a volleyball club (name, city, country) and Google search results as JSON {name,city,country,results:[{title,link,snippet}]}. Choose the SINGLE result that is the club's OWN official website. Return ONLY JSON - no prose, no code fences - {\"url\":string,\"reason\":string}: url is the exact link copied from results, or \"\" if none qualifies. The club's own site may use a translated, nickname or abbreviated domain (it need NOT contain the club name literally) - judge by whether the page is the club's own home/official site. EXCLUDE and never choose: social media (facebook, instagram, x/twitter, tiktok, youtube, linkedin), ticketing (ticketmaster, eventim, ticketportal...), sport registries/databases/stats (spordiregister and other national sport registers, volleybox, sofascore, flashscore, transfermarkt), news articles, blogs, wikis, company/registry/business listings, generic directories or aggregators, the national volleyball federation's own site, marketplaces and government sites. Only return a url that appears verbatim in results. If unsure or none is clearly the club's own website, return \"\"."
        }
      },
      "id": "pick",
      "name": "Pick site",
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 1.7,
      "position": [
        460,
        200
      ]
    }
  ],
  "connections": {
    "Webhook": {
      "main": [
        [
          {
            "node": "Config",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Config": {
      "main": [
        [
          {
            "node": "PB Auth",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "PB Auth": {
      "main": [
        [
          {
            "node": "Get Club",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get Club": {
      "main": [
        [
          {
            "node": "Validate",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Validate": {
      "main": [
        [
          {
            "node": "Serper Search",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Serper Search": {
      "main": [
        [
          {
            "node": "Pick site",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Finalize": {
      "main": [
        [
          {
            "node": "Respond",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Pick site": {
      "main": [
        [
          {
            "node": "Finalize",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Anthropic Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "Pick site",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1"
  },
  "active": false,
  "pinData": {},
  "meta": {
    "templateId": "leblovina-enrich-club"
  }
}