n8n/extract-clubs.json
{
  "name": "Leblovina — Extract clubs (api_endpoint)",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "extract-clubs",
        "responseMode": "responseNode",
        "options": {}
      },
      "id": "wh",
      "name": "Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [
        -600,
        0
      ],
      "webhookId": "extract-clubs"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "p",
              "name": "pbUrl",
              "value": "https://leblovina.tools.biceps.digital",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "id": "cfg",
      "name": "Config",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -430,
        0
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{ $('Config').item.json.pbUrl }}/api/collections/_superusers/auth-with-password",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpCustomAuth",
        "options": {}
      },
      "id": "auth",
      "name": "PB Auth",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        -260,
        0
      ],
      "credentials": {
        "httpCustomAuth": {
          "id": "hzdBwrAqrPZjDmME",
          "name": "PocketBase admin (api)"
        }
      }
    },
    {
      "parameters": {
        "method": "GET",
        "url": "={{ $('Config').item.json.pbUrl }}/api/collections/federations/records/{{ $('Webhook').item.json.body.id }}",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "={{ $('PB Auth').item.json.token }}"
            }
          ]
        },
        "options": {}
      },
      "id": "getfed",
      "name": "Get Federation",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        -90,
        0
      ]
    },
    {
      "parameters": {
        "mode": "runOnceForAllItems",
        "language": "javaScript",
        "jsCode": "const fed = $('Get Federation').first().json;\nconst dirs = Array.isArray(fed.directory_urls) ? fed.directory_urls : [];\n// Handle JSON APIs AND js/SSR pages that embed JSON (Next.js __NEXT_DATA__ etc.).\nconst dir = dirs.find(d => d && ['api_endpoint','js','static'].includes(d.extraction_method) && /^https?:\\/\\//.test(d.url||''));\nif (!dir) return [{ json: { __skip: true, note: 'no extractable directory' } }];\n\nconst res = await this.helpers.httpRequest({ method:'GET', url:dir.url, headers:{'User-Agent':'Mozilla/5.0 (compatible; leblovina-n8n)'}, returnFullResponse:true, ignoreHttpStatusErrors:true });\nlet body = res.body;\nlet root = null;\nif (body && typeof body === 'object') root = body;            // JSON API (auto-parsed)\nelse {\n  const text = String(body || '');\n  try { root = JSON.parse(text); }                            // raw JSON as text\n  catch(e) {\n    const blobs = [];\n    const nd = text.match(/<script id=\"__NEXT_DATA__\"[^>]*>([\\s\\S]*?)<\\/script>/);\n    if (nd) blobs.push(nd[1]);\n    const re = /<script[^>]*type=[\"']application\\/json[\"'][^>]*>([\\s\\S]*?)<\\/script>/g;\n    let m; while ((m = re.exec(text))) blobs.push(m[1]);\n    root = [];\n    for (const b of blobs) { try { root.push(JSON.parse(b)); } catch(_) {} }\n  }\n}\n\nlet best = [];\nconst walk = (o) => {\n  if (Array.isArray(o)) { if (o.length > best.length && o.every(x => x && typeof x === 'object' && !Array.isArray(x))) best = o; for (const x of o) walk(x); }\n  else if (o && typeof o === 'object') { for (const k of Object.keys(o)) walk(o[k]); }\n};\nwalk(root);\nconst sample = best.slice(0, 2);\nconst keys = best.length ? Object.keys(best[0]) : [];\nreturn [{ json: { sourceUrl: dir.url, count: best.length, keys, sample, clubs: best } }];\n"
      },
      "id": "prep",
      "name": "Fetch & prep",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        90,
        0
      ]
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "mode": "list",
          "value": "claude-sonnet-4-6"
        },
        "options": {}
      },
      "id": "model",
      "name": "Anthropic Chat Model",
      "type": "@n8n/n8n-nodes-langchain.lmChatAnthropic",
      "typeVersion": 1.3,
      "position": [
        300,
        220
      ],
      "credentials": {
        "anthropicApi": {
          "id": "PsTv3b7j6pP2jeMt",
          "name": "Anthropic (leblovina)"
        }
      },
      "retryOnFail": true,
      "maxTries": 4,
      "waitBetweenTries": 8000
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=Sample objects from the registry:\n{{ JSON.stringify($('Fetch & prep').item.json.sample) }}\n\nAll keys: {{ JSON.stringify($('Fetch & prep').item.json.keys) }}\n\nReturn the mapping JSON.",
        "options": {
          "systemMessage": "You map a club-registry API's fields to our schema. Given sample objects, return ONLY a JSON object (no prose, no fences): {\"name\": <srcKey|null>, \"city\": <srcKey|null>, \"region\": <srcKey|null>, \"website\": <srcKey|null>, \"source_id\": <srcKey|null>, \"detail_url\": <srcKey|null>}. Use the EXACT source field key names. name=the club's name; city=its city/town; region=state/province/regional federation; website=the club's own website URL; source_id=a stable unique id for the club; detail_url=a link/path to THIS club's own detail/profile page in the catalog (often a relative path like /clubs/123), if present. If a field is absent, use null."
        }
      },
      "id": "map",
      "name": "Map fields",
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 1.7,
      "position": [
        300,
        0
      ],
      "retryOnFail": true,
      "maxTries": 4,
      "waitBetweenTries": 8000
    },
    {
      "parameters": {
        "mode": "runOnceForAllItems",
        "language": "javaScript",
        "jsCode": "const PB_URL = ($('Config').first().json.pbUrl || '').replace(/\\/+$/, '');\nconst token = $('PB Auth').first().json.token; const pbH = { Authorization: token };\nconst fed = $('Get Federation').first().json; const fedId = fed.id;\nconst prep = $('Fetch & prep').first().json;\n\nif (prep.__skip) {\n  await this.helpers.httpRequest({ method:'PATCH', url:PB_URL+'/api/collections/federations/records/'+fedId, headers:pbH, body:{ status:'needs_review', notes:prep.note }, json:true });\n  return [{ json: { ok:false, note: prep.note } }];\n}\n\nconst fivb = String(fed.fivb_code || '').toUpperCase();\nconst country = fed.country || '';\nlet raw = String($('Map fields').first().json.output || '').trim().replace(/^```(json)?/i,'').replace(/```$/,'').trim();\nlet map; try { map = JSON.parse(raw); } catch(e) { const m = raw.match(/\\{[\\s\\S]*\\}/); map = m ? JSON.parse(m[0]) : {}; }\n\nconst g = (row, field) => { const k = map[field]; if (!k) return ''; const v = row[k]; return v==null ? '' : String(v).trim(); };\nconst uslug = (s) => String(s||'').toLowerCase().normalize('NFKC').replace(/[^\\p{L}\\p{N}]+/gu,'-').replace(/^-+|-+$/g,'').slice(0,60);\nconst looksUrlPath = (s) => { s=String(s||'').trim(); return /^https?:\\/\\//i.test(s) || s.startsWith('/'); };\nconst baseOrigin = (function(){ const m=String(prep.sourceUrl||'').match(/^(https?:\\/\\/[^/]+)/i); return m?m[1]:''; })();\n// Sandbox-safe (n8n Code node has no global URL): pure string ops.\nconst urlPath = (s) => { s=String(s||'').trim(); if(!s) return ''; const m=s.match(/^https?:\\/\\/[^/]+(\\/[^?#]*)/i); if(m) return m[1]; return (s.startsWith('/')?s:('/'+s)).split('?')[0].split('#')[0]; };\nconst normUrl = (u) => { u=(u||'').trim().replace(/^https?:\\/\\//i,''); if(!u) return ''; if(/[\\s,]/.test(u)||!u.includes('.')) return ''; return 'https://'+u; };\nconst now = new Date().toISOString();\nconst clubs = prep.clubs || [];\nconst absol = (u) => { u=String(u||'').trim(); if(!u) return ''; if(/^https?:\\/\\//i.test(u)) return u; if(u.startsWith('//')) return 'https:'+u; if(u.startsWith('/')) return baseOrigin ? baseOrigin+u : ''; return baseOrigin ? baseOrigin+'/'+u.replace(/^\\.?\\//,'') : ''; };\nconst findByKey = async (k) => { const r = await this.helpers.httpRequest({ method:'GET', url:PB_URL+'/api/collections/clubs/records', qs:{ filter:\"(dedup_key='\"+k+\"')\", perPage:1 }, headers:pbH, json:true }); return (r.items&&r.items[0])||null; };\n\nlet created=0, updated=0, failed=0; const errors=[];\nfor (const row of clubs) {\n  const name = g(row,'name'); if (!name) continue;\n  const city = g(row,'city'), region = g(row,'region'), website = normUrl(g(row,'website'));\n  const sidRaw = g(row,'source_id');\n  const detailRaw = g(row,'detail_url') || (looksUrlPath(sidRaw) ? sidRaw : '');\n  const detail = absol(detailRaw);\n  const stableId = detailRaw ? urlPath(detailRaw) : (looksUrlPath(sidRaw) ? '' : sidRaw);\n  const dedup = stableId ? (fivb+':'+stableId) : (fivb+':'+uslug(name)+':'+uslug(city));\n  const payload = { federation:fedId, name, country, region, city, website_url:website, website_source: website?'official_list':'none', detail_url:detail, source_url:prep.sourceUrl, source_club_id:stableId, dedup_key:dedup, last_scraped:now };\n  try {\n    try { await this.helpers.httpRequest({ method:'POST', url:PB_URL+'/api/collections/clubs/records', headers:pbH, body:Object.assign({status:'new'},payload), json:true }); created++; }\n    catch(e) { const ex = await findByKey(dedup); if (ex) { await this.helpers.httpRequest({ method:'PATCH', url:PB_URL+'/api/collections/clubs/records/'+ex.id, headers:pbH, body:payload, json:true }); updated++; } else throw e; }\n  } catch(e) { failed++; if (errors.length<10) errors.push({ key:dedup, message:(e&&e.message)||String(e) }); }\n}\nlet fstatus;\nif (created+updated>0 && failed===0) fstatus='scraped';\nelse if (failed>0) fstatus='error';\nelse fstatus='needs_review';   // fetched/mapped ok but produced zero clubs -> review, not a false 'scraped'\nawait this.helpers.httpRequest({ method:'PATCH', url:PB_URL+'/api/collections/federations/records/'+fedId, headers:pbH, body:{ status:fstatus, last_scraped:now }, json:true });\nreturn [{ json: { ok: failed===0, federation:fivb, mapping:map, total:clubs.length, created, updated, failed, errors } }];\n"
      },
      "id": "apply",
      "name": "Apply & upsert",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        520,
        0
      ]
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ $json }}",
        "options": {}
      },
      "id": "resp",
      "name": "Respond",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [
        700,
        0
      ]
    }
  ],
  "connections": {
    "Webhook": {
      "main": [
        [
          {
            "node": "Config",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Config": {
      "main": [
        [
          {
            "node": "PB Auth",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "PB Auth": {
      "main": [
        [
          {
            "node": "Get Federation",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get Federation": {
      "main": [
        [
          {
            "node": "Fetch & prep",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Fetch & prep": {
      "main": [
        [
          {
            "node": "Map fields",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Anthropic Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "Map fields",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Map fields": {
      "main": [
        [
          {
            "node": "Apply & upsert",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Apply & upsert": {
      "main": [
        [
          {
            "node": "Respond",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1"
  },
  "active": false,
  "pinData": {},
  "meta": {
    "templateId": "leblovina-extract-clubs"
  }
}