n8n/extract-clubs-html.json
{
  "name": "Leblovina — Extract clubs (html)",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "extract-clubs-html",
        "responseMode": "responseNode",
        "options": {}
      },
      "id": "wh",
      "name": "Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [
        -600,
        0
      ],
      "webhookId": "extract-clubs-html"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "p",
              "name": "pbUrl",
              "value": "https://leblovina.tools.biceps.digital",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "id": "cfg",
      "name": "Config",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -440,
        0
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{ $('Config').item.json.pbUrl }}/api/collections/_superusers/auth-with-password",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpCustomAuth",
        "options": {}
      },
      "id": "auth",
      "name": "PB Auth",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        -280,
        0
      ],
      "credentials": {
        "httpCustomAuth": {
          "id": "hzdBwrAqrPZjDmME",
          "name": "PocketBase admin (api)"
        }
      }
    },
    {
      "parameters": {
        "method": "GET",
        "url": "={{ $('Config').item.json.pbUrl }}/api/collections/federations/records/{{ $('Webhook').item.json.body.id }}",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "={{ $('PB Auth').item.json.token }}"
            }
          ]
        },
        "options": {}
      },
      "id": "getfed",
      "name": "Get Federation",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        -120,
        0
      ]
    },
    {
      "parameters": {
        "mode": "runOnceForAllItems",
        "language": "javaScript",
        "jsCode": "const fed = $('Get Federation').first().json;\nconst body = ($('Webhook').first().json.body) || {};\nlet url = body.url || '';\nif (!url) {\n  const dirs = Array.isArray(fed.directory_urls) ? fed.directory_urls : [];\n  const e = dirs.find(d => d && ['static','js'].includes(d.extraction_method) && /^https?:\\/\\//.test(d.url||''));\n  url = e ? e.url : '';\n}\nif (!url) return [{ json: { __skip: true, note: 'no static/js directory page' } }];\nreturn [{ json: { url } }];\n"
      },
      "id": "pick",
      "name": "pick url",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        40,
        0
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.firecrawl.dev/v1/scrape",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({ url: $('pick url').item.json.url, formats: ['json'], jsonOptions: { prompt: 'Extract every volleyball club/society listed on this page. Return an array '+ String.fromCharCode(34) + 'clubs' + String.fromCharCode(34) + ' of objects with name, city, region, website (the club own website if shown, else empty), detail_url (a link to this club detail/profile page within this directory, if present). Only real clubs, not navigation.', schema: { type:'object', properties: { clubs: { type:'array', items: { type:'object', properties: { name:{type:'string'}, city:{type:'string'}, region:{type:'string'}, website:{type:'string'} } } } } } } }) }}",
        "options": {
          "timeout": 120000
        }
      },
      "id": "fcx",
      "name": "Firecrawl Extract",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        210,
        0
      ],
      "onError": "continueRegularOutput",
      "credentials": {
        "httpHeaderAuth": {
          "id": "ZxHAcWu5UlNAMy8X",
          "name": "Firecrawl (leblovina)"
        }
      }
    },
    {
      "parameters": {
        "mode": "runOnceForAllItems",
        "language": "javaScript",
        "jsCode": "const PB_URL = ($('Config').first().json.pbUrl || '').replace(/\\/+$/, '');\nconst token = $('PB Auth').first().json.token; const pbH = { Authorization: token };\nconst fed = $('Get Federation').first().json; const fedId = fed.id;\nconst pick = $('pick url').first().json;\nif (pick.__skip) {\n  await this.helpers.httpRequest({ method:'PATCH', url:PB_URL+'/api/collections/federations/records/'+fedId, headers:pbH, body:{ status:'needs_review', notes:pick.note }, json:true });\n  return [{ json: { ok:false, note: pick.note } }];\n}\nconst fivb = String(fed.fivb_code||'').toUpperCase(); const country = fed.country||'';\nconst fcx = $('Firecrawl Extract').first().json;\nconst clubs = (((fcx.data||{}).json||{}).clubs) || [];\nconst dirs = Array.isArray(fed.directory_urls) ? fed.directory_urls : [];\nconst entry = dirs.find(d => d && d.url === pick.url) || {};\nconst dirRegion = entry.region || '';\nconst slug = (s) => String(s||'').toLowerCase().replace(/[^a-z0-9]+/g,'-').replace(/^-+|-+$/g,'').slice(0,40);\nconst normUrl = (u) => { u=(u||'').trim().replace(/^https?:\\/\\//i,''); if(!u) return ''; if(/[\\s,]/.test(u)||!u.includes('.')) return ''; return 'https://'+u; };\nconst now = new Date().toISOString();\nconst absol = (u) => { u=String(u||'').trim(); if(!u) return ''; try { return new URL(u, pick.url).href; } catch(e) { return /^https?:\\/\\//i.test(u)?u:''; } };\nconst findByKey = async (k) => { const r = await this.helpers.httpRequest({ method:'GET', url:PB_URL+'/api/collections/clubs/records', qs:{ filter:\"(dedup_key='\"+k+\"')\", perPage:1 }, headers:pbH, json:true }); return (r.items&&r.items[0])||null; };\nlet created=0, updated=0, failed=0; const errors=[];\nfor (const c of clubs) {\n  const name = String(c.name||'').trim(); if (!name) continue;\n  const city = String(c.city||'').trim(); const region = String(c.region||'').trim() || dirRegion; const website = normUrl(c.website); const detail = absol(c.detail_url);\n  const dedup = fivb+':'+slug(name)+':'+slug(city);\n  const payload = { federation:fedId, name, country, region, city, website_url:website, website_source: website?'official_list':'none', source_url:pick.url, dedup_key:dedup, detail_url:detail, last_scraped:now };\n  try {\n    try { await this.helpers.httpRequest({ method:'POST', url:PB_URL+'/api/collections/clubs/records', headers:pbH, body:Object.assign({status:'new'},payload), json:true }); created++; }\n    catch(e) { const ex = await findByKey(dedup); if (ex) { await this.helpers.httpRequest({ method:'PATCH', url:PB_URL+'/api/collections/clubs/records/'+ex.id, headers:pbH, body:payload, json:true }); updated++; } else throw e; }\n  } catch(e) { failed++; if (errors.length<10) errors.push({ key:dedup, message:(e&&e.message)||String(e) }); }\n}\nconst fstatus = failed===0 ? 'scraped' : 'error';\nawait this.helpers.httpRequest({ method:'PATCH', url:PB_URL+'/api/collections/federations/records/'+fedId, headers:pbH, body:{ status:fstatus, last_scraped:now }, json:true });\nreturn [{ json: { ok: failed===0, federation:fivb, page:pick.url, total:clubs.length, created, updated, failed, errors } }];\n"
      },
      "id": "apply",
      "name": "Apply & upsert",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        380,
        0
      ]
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ $json }}",
        "options": {}
      },
      "id": "resp",
      "name": "Respond",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [
        560,
        0
      ]
    }
  ],
  "connections": {
    "Webhook": {
      "main": [
        [
          {
            "node": "Config",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Config": {
      "main": [
        [
          {
            "node": "PB Auth",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "PB Auth": {
      "main": [
        [
          {
            "node": "Get Federation",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get Federation": {
      "main": [
        [
          {
            "node": "pick url",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "pick url": {
      "main": [
        [
          {
            "node": "Firecrawl Extract",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Firecrawl Extract": {
      "main": [
        [
          {
            "node": "Apply & upsert",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Apply & upsert": {
      "main": [
        [
          {
            "node": "Respond",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1"
  },
  "active": false,
  "pinData": {},
  "meta": {
    "templateId": "leblovina-extract-html"
  }
}