n8n/extract-directory-data.json
{
  "name": "Leblovina — Extract directory data (re-mine)",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "extract-directory-data",
        "responseMode": "lastNode",
        "options": {}
      },
      "id": "wh",
      "name": "Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [
        -640,
        0
      ],
      "webhookId": "extract-directory-data"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "p",
              "name": "pbUrl",
              "value": "https://leblovina.tools.biceps.digital",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "id": "cfg",
      "name": "Config",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -480,
        0
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{ $('Config').item.json.pbUrl }}/api/collections/_superusers/auth-with-password",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpCustomAuth",
        "options": {}
      },
      "id": "auth",
      "name": "PB Auth",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        -320,
        0
      ],
      "credentials": {
        "httpCustomAuth": {
          "id": "hzdBwrAqrPZjDmME",
          "name": "PocketBase admin (api)"
        }
      }
    },
    {
      "parameters": {
        "mode": "runOnceForAllItems",
        "language": "javaScript",
        "jsCode": "// Resolve the list of directory pages (source_url) to re-mine: one page, a federation's pages, or all.\nconst PB_URL=($('Config').first().json.pbUrl||'').replace(/\\/+$/,'');\nconst token=$('PB Auth').first().json.token; const pbH={Authorization:token};\nconst body=($('Webhook').first().json.body)||{};\nlet urls=[];\nif(body.source_url){ urls=[String(body.source_url)]; }\nelse {\n  const filter = body.fedId ? (\"federation='\"+body.fedId+\"' && source_url!=''\") : \"source_url!=''\";\n  const set=new Set(); let page=1;\n  while(true){ const r=await this.helpers.httpRequest({method:'GET',url:PB_URL+'/api/collections/clubs/records',qs:{filter,perPage:500,page,fields:'source_url'},headers:pbH,json:true}); (r.items||[]).forEach(c=>c.source_url&&set.add(c.source_url)); if(page>=(r.totalPages||1))break; page++; if(page>80)break; }\n  urls=[...set];\n}\nif(!urls.length) return [{json:{__skip:true,note:'no source_url targets'}}];\nreturn urls.map(u=>({json:{source_url:u}}));\n"
      },
      "id": "targets",
      "name": "Targets",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -160,
        0
      ]
    },
    {
      "parameters": {
        "batchSize": 1,
        "options": {}
      },
      "id": "loop",
      "name": "Loop",
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 3,
      "position": [
        0,
        0
      ]
    },
    {
      "parameters": {
        "mode": "runOnceForAllItems",
        "language": "javaScript",
        "jsCode": "const PB_URL=($('Config').first().json.pbUrl||'').replace(/\\/+$/,'');\nconst token=$('PB Auth').first().json.token; const pbH={Authorization:token};\nconst srcUrl=($json.source_url||'').trim();   // current loop item from Targets\nif($json.__skip || !srcUrl) return [{json:{__skip:true, note:'no source_url'}}];\nif(/\\.pdf($|\\?)/i.test(srcUrl)) return [{json:{__skip:true, srcUrl, note:'pdf source — use the pdf extractor'}}];\nconst hostOf=(u)=>String(u||'').replace(/^https?:\\/\\//i,'').replace(/^www\\./i,'').split(/[\\/?#]/)[0].toLowerCase();\nconst pageHost=hostOf(srcUrl); const origin='https://'+pageHost;\n// existing clubs for this source_url\nlet clubs=[]; let page=1;\nwhile(true){ const r=await this.helpers.httpRequest({method:'GET',url:PB_URL+'/api/collections/clubs/records',qs:{filter:\"(source_url='\"+srcUrl.replace(/'/g,'')+\"')\",perPage:200,page,fields:'id,name,dedup_key,source_club_id,website_url,detail_url,federation'},headers:pbH,json:true}); clubs=clubs.concat(r.items||[]); if(page>=(r.totalPages||1))break; page++; }\nif(!clubs.length) return [{json:{__skip:true, srcUrl, note:'no clubs reference this source_url'}}];\nconst fedId=clubs[0].federation;\nlet fivb='',country=''; try{ const f=await this.helpers.httpRequest({method:'GET',url:PB_URL+'/api/collections/federations/records/'+fedId,qs:{fields:'fivb_code,country'},headers:pbH,json:true}); fivb=f.fivb_code||''; country=f.country||''; }catch(e){}\nconst UA={'User-Agent':'Mozilla/5.0 (Macintosh; Intel Mac OS X 10_15_7) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/124 Safari/537.36'};\nlet html=''; try{ const r=await this.helpers.httpRequest({method:'GET',url:srcUrl,headers:UA,timeout:25000,returnFullResponse:true,ignoreHttpStatusErrors:true,followRedirect:true}); html=String(r.body||''); }catch(e){}\n// clean while PRESERVING links: mailto -> 'label <email>', onclick-detail -> 'content [link:URL]', anchors -> 'label [link:URL]'\nconst clean=(h)=>String(h||'')\n  .replace(/<script[\\s\\S]*?<\\/script>/gi,' ').replace(/<style[\\s\\S]*?<\\/style>/gi,' ')\n  .replace(/<a\\b[^>]*href=[\"']mailto:([^\"'?]+)[^\"']*[\"'][^>]*>([\\s\\S]*?)<\\/a>/gi,' $2 [mail:$1] ')\n  .replace(/<(td|tr|div|span)\\b[^>]*document\\.location\\.href=['\"]([^'\"]+)['\"][^>]*>([\\s\\S]*?)<\\/\\1>/gi,' $3 [link:$2] ')\n  .replace(/<a\\b[^>]*href=[\"'](https?:\\/\\/[^\"']+|\\/[^\"']+)[\"'][^>]*>([\\s\\S]*?)<\\/a>/gi,' $2 [link:$1] ')\n  .replace(/<\\/(div|li|tr|p|h[1-6]|td|section|article|header|footer)>/gi,'\\n').replace(/<br\\s*\\/?>/gi,'\\n')\n  .replace(/<[^>]+>/g,' ')\n  .replace(/&nbsp;/gi,' ').replace(/&amp;/gi,'&').replace(/&#0?39;|&apos;/gi,\"'\").replace(/&quot;/gi,'\"')\n  .replace(/&#(\\d+);/g,(m,n)=>String.fromCharCode(+n))\n  .replace(/[ \\t]+/g,' ').replace(/\\n[ \\t]*(\\n[ \\t]*)+/g,'\\n').trim();\nconst pageText=clean(html).slice(0,120000);\nreturn [{json:{ srcUrl, origin, pageHost, fedId, fivb, country, clubs, pageText, fetched: html.length>200, combined:'DIRECTORY HOST: '+pageHost+'\\n'+pageText }}];\n"
      },
      "id": "load",
      "name": "Load context",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        200,
        160
      ]
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "={{ $json.combined ? $json.combined : 'No content.' }}",
        "options": {
          "systemMessage": "You are given the cleaned text of a volleyball federation's DIRECTORY page that lists MANY clubs. For each club its name, email(s), website and detail-page link usually appear together. In the text: emails appear as '[mail:EMAIL]' (or as plain text); links appear as '[link:URL]' right after the text they belonged to. Return ONLY JSON, no prose, no code fences: {\"rows\":[{\"name\":string,\"website\":string,\"detail_url\":string,\"emails\":[{\"email\":string,\"name\":string,\"position\":string,\"phone\":string}]}]}. One entry per club listed on the page. name = the club's name. website = the club's OWN external website if a [link] to one is shown for it (a different domain than the federation/listing site), else \"\". detail_url = a [link] that points to this club's own page on the listing site (often the same domain, often carrying an id), else \"\". emails = every email literally shown for that club (from '<email>' tokens or plain text); EXCLUDE the federation's own office/press/webmaster/info addresses and the website designer/hosting; NEVER invent, complete or guess an email. name/position/phone per email when shown near it, else \"\". Capture as many clubs as the page lists. If the page is not a club directory listing, return {\"rows\":[]}."
        }
      },
      "id": "extract",
      "name": "Extract directory",
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 1.7,
      "position": [
        400,
        160
      ],
      "onError": "continueRegularOutput",
      "retryOnFail": true,
      "maxTries": 3,
      "waitBetweenTries": 4000
    },
    {
      "parameters": {
        "modelName": "models/gemini-2.5-flash",
        "options": {}
      },
      "id": "gmodel",
      "name": "Gemini Chat Model",
      "type": "@n8n/n8n-nodes-langchain.lmChatGoogleGemini",
      "typeVersion": 1,
      "position": [
        400,
        360
      ],
      "credentials": {
        "googlePalmApi": {
          "id": "bk0TwlDz0lEZUfic",
          "name": "Gemini (leblovina)"
        }
      }
    },
    {
      "parameters": {
        "mode": "runOnceForAllItems",
        "language": "javaScript",
        "jsCode": "const PB_URL=($('Config').first().json.pbUrl||'').replace(/\\/+$/,'');\nconst token=$('PB Auth').first().json.token; const pbH={Authorization:token};\nconst ctx=$('Load context').first().json;\nif(ctx.__skip) return [{json:{ok:false,note:ctx.note,srcUrl:ctx.srcUrl||''}}];\nconst {srcUrl,origin,pageHost,clubs}=ctx;\nconst hostOf=(u)=>String(u||'').replace(/^https?:\\/\\//i,'').replace(/^www\\./i,'').split(/[\\/?#]/)[0].toLowerCase();\nconst uslug=(s)=>String(s||'').toLowerCase().normalize('NFKC').replace(/[^\\p{L}\\p{N}]+/gu,'-').replace(/^-+|-+$/g,'').slice(0,60);\nconst isEmail=(e)=>/^[^@\\s]+@[^@\\s]+\\.[^@\\s]+$/.test(e);\nconst abs=(u)=>{ u=String(u||'').replace(/[)\\]\"'\\s].*$/,''); if(!u)return''; if(/^https?:\\/\\//i.test(u))return u; if(u.charAt(0)==='/')return origin+u; return ''; };\nconst bad=/(\\.png|\\.jpg|example\\.|sentry|wixpress|godaddy|your[-.]?email|@example)/i;\n\nconst byName={}, byId={};\nfor(const c of clubs){ byName[uslug(c.name)]=c; if(c.source_club_id) byId[String(c.source_club_id)]=c; }\n// create-missing (gated): recover rows the original extractor never created\nconst create=!!(($('Webhook').first().json.body)||{}).create;\nconst fivb=String(ctx.fivb||'').toUpperCase(); const country=ctx.country||''; const now=new Date().toISOString();\nconst nameKeyed = clubs.some(c=>c.dedup_key && c.dedup_key===(fivb+':'+uslug(c.name)));\nconst idKeyed   = clubs.some(c=>c.source_club_id && c.dedup_key===(fivb+':'+String(c.source_club_id)));\nconst findClub=async(k)=>{const r=await this.helpers.httpRequest({method:'GET',url:PB_URL+'/api/collections/clubs/records',qs:{filter:\"(dedup_key='\"+k.replace(/'/g,'')+\"')\",perPage:1},headers:pbH,json:true});return (r.items&&r.items[0])||null;};\nconst seenK=new Set(); let createdClubs=0, skippedUnsafe=0;\n\nconst parse=(raw0)=>{let raw=String(raw0||'').trim().replace(/^```(json)?/i,'').replace(/```\\s*$/,'').trim();try{const p=JSON.parse(raw);if(p&&Array.isArray(p.rows))return p.rows;}catch(e){}return [];};\nconst rows=parse(($('Extract directory').first().json||{}).output);\nconst findContact=async(e)=>{const r=await this.helpers.httpRequest({method:'GET',url:PB_URL+'/api/collections/contacts/records',qs:{filter:\"(email='\"+e.replace(/'/g,'')+\"')\",perPage:1},headers:pbH,json:true});return (r.items&&r.items[0])||null;};\n\nlet matched=0,unmatched=0,wq=0,dq=0,cc=0; const seenC=new Set();\nfor(const row of rows){\n  const durl=abs(row.detail_url);\n  const idm=durl.match(/(?:TeamID|SId|Id|ID)=(\\d+)/);\n  let club=byName[uslug(row.name)];\n  if(!club && idm && byId[idm[1]]) club=byId[idm[1]];\n  let isNew=false;\n  if(!club){\n    if(!create || !row.name){ unmatched++; continue; }\n    let key=''; if(idm && idKeyed) key=fivb+':'+idm[1]; else if(nameKeyed) key=fivb+':'+uslug(row.name);\n    if(!key || !fivb){ skippedUnsafe++; unmatched++; continue; }\n    if(seenK.has(key)){ unmatched++; continue; } seenK.add(key);\n    let ex=await findClub(key);\n    if(ex){ club=ex; }\n    else {\n      const web0=abs(row.website);\n      const cbody={federation:ctx.fedId,name:row.name,country,dedup_key:key,source_url:srcUrl,status:'new',last_scraped:now,website_source:'none'};\n      if(durl && hostOf(durl)===pageHost) cbody.detail_url=durl;\n      if(web0 && hostOf(web0)!==pageHost){ cbody.website_url=web0; cbody.website_source='official_list'; cbody.website_status='unknown'; }\n      if(idm) cbody.source_club_id=idm[1];\n      try{ const r=await this.helpers.httpRequest({method:'POST',url:PB_URL+'/api/collections/clubs/records',headers:pbH,body:cbody,json:true}); club={id:r.id,name:row.name,website_url:cbody.website_url||'',detail_url:cbody.detail_url||''}; isNew=true; }\n      catch(e){ ex=await findClub(key); if(ex){club=ex;} else { unmatched++; continue; } }\n    }\n  }\n  if(isNew) createdClubs++; else matched++;\n  const patch={};\n  const web=abs(row.website);\n  if(web && hostOf(web)!==pageHost && !club.website_url){ patch.website_url=web; patch.website_source='official_list'; patch.website_status='unknown'; }\n  if(durl && hostOf(durl)===pageHost && !club.detail_url) patch.detail_url=durl;\n  if(Object.keys(patch).length){ try{ await this.helpers.httpRequest({method:'PATCH',url:PB_URL+'/api/collections/clubs/records/'+club.id,headers:pbH,body:patch,json:true}); if(patch.website_url)wq++; if(patch.detail_url)dq++; }catch(e){} }\n  for(const ct of (row.emails||[])){ const email=String((ct&&ct.email)||'').trim().toLowerCase(); if(!email||!isEmail(email)||bad.test(email)||seenC.has(email))continue; seenC.add(email);\n    const nm=String((ct&&ct.name)||'').trim(),pos=String((ct&&ct.position)||'').trim(),ph=String((ct&&ct.phone)||'').trim();\n    const su=(durl&&hostOf(durl)===pageHost)?durl:srcUrl;\n    try{ await this.helpers.httpRequest({method:'POST',url:PB_URL+'/api/collections/contacts/records',headers:pbH,body:{club:club.id,email,name:nm,position:pos,phone:ph,source_url:su,source_type:'directory',verification_status:'unverified'},json:true}); cc++; }\n    catch(e){ try{ const ex=await findContact(email); if(ex){ const p={}; if(!ex.club)p.club=club.id; if(nm&&!ex.name)p.name=nm; if(pos&&!ex.position)p.position=pos; if(ph&&!ex.phone)p.phone=ph; if(!ex.source_type)p.source_type='directory'; if(!ex.source_url)p.source_url=su; if(Object.keys(p).length)await this.helpers.httpRequest({method:'PATCH',url:PB_URL+'/api/collections/contacts/records/'+ex.id,headers:pbH,body:p,json:true}); } }catch(_){} }\n  }\n}\nreturn [{json:{ok:true,srcUrl,clubs:clubs.length,rows:rows.length,matched,created:createdClubs,unmatched,skippedUnsafe,website_set:wq,detail_set:dq,contacts:cc}}];\n"
      },
      "id": "backfill",
      "name": "Backfill",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        600,
        160
      ]
    }
  ],
  "connections": {
    "Webhook": {
      "main": [
        [
          {
            "node": "Config",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Config": {
      "main": [
        [
          {
            "node": "PB Auth",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "PB Auth": {
      "main": [
        [
          {
            "node": "Targets",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Targets": {
      "main": [
        [
          {
            "node": "Loop",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Loop": {
      "main": [
        [],
        [
          {
            "node": "Load context",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Load context": {
      "main": [
        [
          {
            "node": "Extract directory",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Extract directory": {
      "main": [
        [
          {
            "node": "Backfill",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Backfill": {
      "main": [
        [
          {
            "node": "Loop",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Gemini Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "Extract directory",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1"
  },
  "active": true
}
