n8n/extract-clubs-pdf.json
{
  "name": "Leblovina — Extract clubs (pdf)",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "extract-clubs-pdf",
        "responseMode": "responseNode",
        "options": {}
      },
      "id": "wh",
      "name": "Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [
        -600,
        0
      ],
      "webhookId": "extract-clubs-pdf"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "p",
              "name": "pbUrl",
              "value": "https://leblovina.tools.biceps.digital",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "id": "cfg",
      "name": "Config",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -440,
        0
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{ $('Config').item.json.pbUrl }}/api/collections/_superusers/auth-with-password",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpCustomAuth",
        "options": {}
      },
      "id": "auth",
      "name": "PB Auth",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        -280,
        0
      ],
      "credentials": {
        "httpCustomAuth": {
          "id": "hzdBwrAqrPZjDmME",
          "name": "PocketBase admin (api)"
        }
      }
    },
    {
      "parameters": {
        "method": "GET",
        "url": "={{ $('Config').item.json.pbUrl }}/api/collections/federations/records/{{ $('Webhook').item.json.body.id }}",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "={{ $('PB Auth').item.json.token }}"
            }
          ]
        },
        "options": {}
      },
      "id": "getfed",
      "name": "Get Federation",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        -120,
        0
      ]
    },
    {
      "parameters": {
        "mode": "runOnceForAllItems",
        "language": "javaScript",
        "jsCode": "const fed = $('Get Federation').first().json;\nconst body = ($('Webhook').first().json.body) || {};\nlet items = [];\nif (body.url) {\n  items = [{ url: String(body.url), region: '' }];\n} else {\n  const dirs = Array.isArray(fed.directory_urls) ? fed.directory_urls : [];\n  items = dirs\n    .filter(d => d && d.extraction_method === 'pdf' && /^https?:\\/\\//.test(d.url || ''))\n    .map(d => ({ url: d.url, region: d.region || '' }));\n}\nif (!items.length) return [{ json: { __skip: true, note: 'no pdf directory' } }];\nreturn items.map(it => ({ json: it }));\n"
      },
      "id": "pick",
      "name": "pick pdfs",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        40,
        0
      ]
    },
    {
      "parameters": {
        "method": "GET",
        "url": "={{ $('pick pdfs').item.json.url }}",
        "options": {
          "response": {
            "response": {
              "responseFormat": "file",
              "outputPropertyName": "data"
            }
          },
          "timeout": 60000
        }
      },
      "id": "fetch",
      "name": "Fetch PDF",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        210,
        0
      ],
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "operation": "pdf",
        "binaryPropertyName": "data",
        "options": {}
      },
      "id": "xpdf",
      "name": "Extract PDF text",
      "type": "n8n-nodes-base.extractFromFile",
      "typeVersion": 1,
      "position": [
        380,
        0
      ],
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "mode": "runOnceForAllItems",
        "language": "javaScript",
        "jsCode": "const PB_URL = ($('Config').first().json.pbUrl || '').replace(/\\/+$/, '');\nconst token = $('PB Auth').first().json.token; const pbH = { Authorization: token };\nconst fed = $('Get Federation').first().json; const fedId = fed.id;\nconst setFed = (body) => this.helpers.httpRequest({ method:'PATCH', url:PB_URL+'/api/collections/federations/records/'+fedId, headers:pbH, body, json:true });\n\nconst picks = $('pick pdfs').all().map(i => i.json);\nif (picks.length === 1 && picks[0].__skip) { await setFed({ status:'needs_review', notes:picks[0].note }); return [{ json:{ ok:false, note:picks[0].note } }]; }\nconst chunks = $('chunk').all().map(i => i.json);\nconst agents = $('Extract clubs').all().map(i => i.json);\n\nconst fivb = String(fed.fivb_code||'').toUpperCase(); const country = fed.country||'';\nconst dirs = Array.isArray(fed.directory_urls) ? fed.directory_urls : [];\nconst uslug = (s) => String(s||'').toLowerCase().normalize('NFKC').replace(/[^\\p{L}\\p{N}]+/gu,'-').replace(/^-+|-+$/g,'').slice(0,60);\nconst nkey  = (s) => String(s||'').toLowerCase().normalize('NFKD').replace(/\\*+/g,'').replace(/\\([^)]*\\)/g,' ').replace(/[^\\p{L}\\p{N}]+/gu,'');\nconst normUrl = (u) => { u=String(u||'').trim().replace(/^https?:\\/\\//i,''); if(!u) return ''; if(/[\\s,]/.test(u)||!u.includes('.')) return ''; return 'https://'+u; };\nconst hostOf = (u) => String(u||'').replace(/^https?:\\/\\//i,'').replace(/^www\\./i,'').split('/')[0].toLowerCase();\nconst isEmail = (e) => /^[^@\\s]+@[^@\\s]+\\.[^@\\s]+$/.test(e);\nconst now = new Date().toISOString();\nconst findClub = async (k) => { const r = await this.helpers.httpRequest({ method:'GET', url:PB_URL+'/api/collections/clubs/records', qs:{ filter:\"(dedup_key='\"+k+\"')\", perPage:1 }, headers:pbH, json:true }); return (r.items&&r.items[0])||null; };\nconst findContact = async (e) => { const r = await this.helpers.httpRequest({ method:'GET', url:PB_URL+'/api/collections/contacts/records', qs:{ filter:\"(email='\"+e.replace(/'/g,'')+\"')\", perPage:1 }, headers:pbH, json:true }); return (r.items&&r.items[0])||null; };\n\nconst parseClubs = (raw0) => {\n  let raw = String(raw0||'').trim().replace(/^```(json)?/i,'').replace(/```\\s*$/,'').trim();\n  try { const p=JSON.parse(raw); if (p && Array.isArray(p.clubs)) return { clubs:p.clubs, parsed:true }; } catch(e){}\n  const objs=[]; const st=[];\n  for (let i=0;i<raw.length;i++){ const ch=raw[i]; if(ch==='{') st.push(i); else if(ch==='}'){ const s=st.pop(); if(s!=null){ try{ const o=JSON.parse(raw.slice(s,i+1)); if(o&&typeof o==='object'&&!Array.isArray(o)&&('name' in o)) objs.push(o); }catch(_){} } } }\n  return { clubs:objs, parsed: objs.length>0 };\n};\n\nconst byDir = {};\nfor (let i=0;i<chunks.length;i++){\n  const ck = chunks[i]||{}; const ag = agents[i]||{}; const d = ck.dirIndex;\n  if (d==null) continue;\n  if (!byDir[d]) byDir[d] = { url:ck.dirUrl||'', region:ck.region||'', md:'', clubs:[], hadContent:false, parseFail:false };\n  const g = byDir[d];\n  if (ck.chunk && ck.chunk.trim()){ g.hadContent = true; g.md += ck.chunk + '\\n'; }\n  if (!ck.scrapeFailed){ const pr = parseClubs(ag.output); if (!pr.parsed && ck.chunk && ck.chunk.trim()) g.parseFail = true; for (const x of pr.clubs) g.clubs.push(x); }\n}\n\nlet created=0, updated=0, failed=0, totalClubs=0, scrapeFails=0, contactsCreated=0; const errors=[]; const perDir=[]; let detectedCount=0; const countRows=(md)=>{const ls=String(md||'').split('\\n').map(l=>l.trim());const pp=ls.filter(l=>/^\\|.*\\|/.test(l)&&!/^\\|[\\s:|-]+\\|$/.test(l));if(pp.length>=3)return Math.max(0,pp.length-1);return ls.filter(l=>/^([-*•]|\\d+[.)])\\s+\\S/.test(l)).length;};\nfor (const d of Object.keys(byDir)){\n  const g = byDir[d]; const srcUrl = g.url;\n  if (!g.hadContent){ scrapeFails++; errors.push({ url:srcUrl, message:'no content (scrape/parse failed)' }); perDir.push({ url:srcUrl, clubs:0, created:0, updated:0 }); continue; } detectedCount += countRows(g.md);\n  const baseOrigin = (function(){ const m=String(srcUrl).match(/^(https?:\\/\\/[^/]+)/i); return m?m[1]:''; })();\n  const dirHost = hostOf(baseOrigin);\n  const absol = (u) => { u=String(u||'').trim(); if(!u) return ''; if(/^https?:\\/\\//i.test(u)) return u; if(u.startsWith('//')) return 'https:'+u; if(u.startsWith('/')) return baseOrigin?baseOrigin+u:''; return baseOrigin?baseOrigin+'/'+u.replace(/^\\.?\\//,''):''; };\n  const linkMap = {}; const re=/\\[([^\\]]*)\\]\\(([^)\\s]+)\\)/g; let mm;\n  while((mm=re.exec(g.md))){ const a=nkey(mm[1]); let href=mm[2]; if(!a||!href||href.indexOf('#')>=0) continue; const abs=absol(href); if(!abs||hostOf(abs)!==dirHost) continue; if(!linkMap[a]) linkMap[a]=abs; }\n  const entry = dirs.find(x => x && x.url === srcUrl) || {}; const dirRegion = entry.region || g.region || '';\n  const seen = {}; let dc=0, du=0;\n  for (const c of g.clubs){\n    const name = String((c&&c.name)||'').replace(/\\*+/g,'').trim(); if(!name) continue;\n    const city = String((c&&c.city)||'').trim(); const region = String((c&&c.region)||'').trim() || dirRegion;\n    const dedup = fivb+':'+uslug(name);   // name-only: city is LLM-variable (country-as-city etc.) and broke re-run idempotency\n    if (seen[dedup]) continue; seen[dedup]=1; totalClubs++;\n    let website = normUrl(c&&c.website); if (website && dirHost && hostOf(website)===dirHost) website='';\n    let detail = absol(String((c&&c.detail_url)||'').trim()); if (detail && hostOf(detail)!==dirHost) detail='';\n    if (!detail){ const hit = linkMap[nkey(name)]; if(hit) detail=hit; }\n    const base = { federation:fedId, name, country, region, city, dedup_key:dedup, last_scraped:now };\n    const full = Object.assign({}, base, { website_url:website, website_source: website?'official_list':'none', detail_url:detail, source_url:srcUrl, status:'new' });\n    let clubId=null;\n    try {\n      try { const rec=await this.helpers.httpRequest({ method:'POST', url:PB_URL+'/api/collections/clubs/records', headers:pbH, body:full, json:true }); created++; dc++; clubId=rec.id; }\n      catch(e){ const ex=await findClub(dedup); if(ex){ const patch=Object.assign({},base); if(website){patch.website_url=website;patch.website_source='official_list';} if(detail) patch.detail_url=detail; if(!ex.source_url) patch.source_url=srcUrl; await this.helpers.httpRequest({ method:'PATCH', url:PB_URL+'/api/collections/clubs/records/'+ex.id, headers:pbH, body:patch, json:true }); updated++; du++; clubId=ex.id; } else throw e; }\n    } catch(e){ failed++; if(errors.length<10) errors.push({ key:dedup, message:(e&&e.message)||String(e) }); continue; }\n    let savedC=0;\n    const cts = Array.isArray(c&&c.contacts)?c.contacts:[];\n    for (const ct of cts){\n      const email=String((ct&&ct.email)||'').trim().toLowerCase(); if(!email||!isEmail(email)) continue;\n      const nm=String((ct&&ct.name)||'').trim(), pos=String((ct&&ct.position)||'').trim(), ph=String((ct&&ct.phone)||'').trim();\n      try { await this.helpers.httpRequest({ method:'POST', url:PB_URL+'/api/collections/contacts/records', headers:pbH, body:{ club:clubId, email, name:nm, position:pos, phone:ph, source_url:srcUrl, verification_status:'unverified', source_type:'directory' }, json:true }); contactsCreated++; savedC++; }\n      catch(e){ try{ const ex=await findContact(email); if(ex){ const p={}; if(!ex.club)p.club=clubId; if(nm&&!ex.name)p.name=nm; if(pos&&!ex.position)p.position=pos; if(ph&&!ex.phone)p.phone=ph; if(!ex.source_url)p.source_url=srcUrl; if(Object.keys(p).length) await this.helpers.httpRequest({ method:'PATCH', url:PB_URL+'/api/collections/contacts/records/'+ex.id, headers:pbH, body:p, json:true }); } }catch(_){} }\n    }\n    if (savedC>0 && clubId){ try{ await this.helpers.httpRequest({ method:'PATCH', url:PB_URL+'/api/collections/clubs/records/'+clubId, headers:pbH, body:{ status:'contacts_found' }, json:true }); }catch(_){} }\n  }\n  perDir.push({ url:srcUrl, clubs:dc+du, created:dc, updated:du });\n}\n\nlet status;\nif (created+updated>0 && failed===0) status='scraped';\nelse if (failed>0) status='error';\nelse if (scrapeFails>0 && created+updated===0) status='error';\nelse status='needs_review';\nawait setFed({ status, last_scraped:now, club_count: detectedCount });\nreturn [{ json: { ok: failed===0 && status==='scraped', federation:fivb, directories:perDir, total:totalClubs, created, updated, failed, scrapeFails, contactsCreated, errors } }];\n"
      },
      "id": "apply",
      "name": "Apply & upsert",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        720,
        0
      ]
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ $json }}",
        "options": {}
      },
      "id": "resp",
      "name": "Respond",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [
        900,
        0
      ]
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "mode": "list",
          "value": "={{ $json.clean === false ? 'claude-sonnet-4-6' : 'claude-haiku-4-5' }}"
        },
        "options": {
          "maxTokensToSample": 32000
        }
      },
      "id": "model",
      "name": "Anthropic Chat Model",
      "type": "@n8n/n8n-nodes-langchain.lmChatAnthropic",
      "typeVersion": 1.3,
      "position": [
        560,
        300
      ],
      "credentials": {
        "anthropicApi": {
          "id": "PsTv3b7j6pP2jeMt",
          "name": "Anthropic (leblovina)"
        }
      }
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "={{ $json.chunk ? $json.chunk : 'No content.' }}",
        "options": {
          "systemMessage": "You extract volleyball clubs from a PORTION of a national federation's club directory (a Markdown table/list, or plain text extracted from a PDF). A table header may be repeated at the top for context. Return ONLY a JSON object - no prose, no code fences - of shape {\"clubs\":[{\"name\":string,\"city\":string,\"region\":string,\"website\":string,\"detail_url\":string,\"contacts\":[{\"email\":string,\"name\":string,\"position\":string,\"phone\":string}]}]}. Include EVERY real club/society in this portion; ignore navigation, column titles/headers, filters, pagination, totals and social links. Per club: name = the club's name (required; skip nameless rows; strip markdown ** and trailing category codes in parentheses). city = its town (strip postal codes and street address). region = state/county/regional federation if shown, else \"\". website = the club's OWN external website if shown, else \"\" - NEVER a link to this directory/listing or the federation's own site. detail_url = the exact HREF the club's name/row links to within this directory (copy verbatim from the text; \"\" if none; never guess). contacts = ONLY rows where a real email is LITERALLY present in the source for that club; email is REQUIRED for a contact (omit any contact that has no email); name/position/phone are optional (\"\" if absent); NEVER invent, complete or guess an email or domain. Use \"\" for any missing string, never null. If this portion contains no clubs, return {\"clubs\":[]}."
        }
      },
      "id": "extract",
      "name": "Extract clubs",
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 1.7,
      "position": [
        560,
        120
      ]
    },
    {
      "parameters": {
        "mode": "runOnceForAllItems",
        "language": "javaScript",
        "jsCode": "const isClean = (t) => { const ls=String(t||'').split('\\n').map(l=>l.trim()).filter(Boolean); if (ls.length<3) return true; const piped=ls.filter(l=>l.includes('|')).length; const listy=ls.filter(l=>/^([-*\\u2022]|\\d+[.)])\\s+/.test(l)||/^\\d+\\s+\\S/.test(l)).length; const prose=ls.filter(l=>l.length>220 && !l.includes('|')).length; return (Math.max(piped,listy)/ls.length >= 0.3) || (prose/ls.length < 0.1); };\nconst picks = $('pick pdfs').all().map(i=>i.json);\nif (picks.length===1 && picks[0].__skip) return [{ json:{ __skip:true, note:picks[0].note, dirIndex:null, clean:true } }];\nconst sc = $('Extract PDF text').all().map(i=>i.json);\nconst CHUNK = 25000;\nconst out=[];\nfor (let d=0; d<picks.length; d++){\n  const url = picks[d].url||''; const region = picks[d].region||'';\n  const md = (sc[d] && typeof sc[d].text==='string' ? sc[d].text : '') || '';\n  if (!md){ out.push({ json:{ dirIndex:d, dirUrl:url, region, chunk:'', chunkIndex:0, nChunks:0, scrapeFailed:true, clean:true } }); continue; }\n  let header=''; const hm = md.match(/(?:^|\\n)(\\|[^\\n]*\\|)\\n(\\|[\\s:|-]+\\|)/); if(hm) header = hm[1]+'\\n'+hm[2]+'\\n';\n  const lines = md.split('\\n'); const chunks=[]; let cur='';\n  for (const ln of lines){ if (cur.length + ln.length + 1 > CHUNK && cur){ chunks.push(cur); cur=''; } cur += ln + '\\n'; }\n  if (cur.trim()) chunks.push(cur); if(!chunks.length) chunks.push(md);\n  const clean = isClean(md);\n  chunks.forEach((c,ci)=>{ const chunk = (ci>0 && header && c.indexOf(header.trim())<0) ? header+c : c; out.push({ json:{ dirIndex:d, dirUrl:url, region, chunk, chunkIndex:ci, nChunks:chunks.length, clean } }); });\n}\nreturn out;\n"
      },
      "id": "chunk",
      "name": "chunk",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        530,
        180
      ]
    }
  ],
  "connections": {
    "Webhook": {
      "main": [
        [
          {
            "node": "Config",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Config": {
      "main": [
        [
          {
            "node": "PB Auth",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "PB Auth": {
      "main": [
        [
          {
            "node": "Get Federation",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get Federation": {
      "main": [
        [
          {
            "node": "pick pdfs",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "pick pdfs": {
      "main": [
        [
          {
            "node": "Fetch PDF",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Fetch PDF": {
      "main": [
        [
          {
            "node": "Extract PDF text",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Extract PDF text": {
      "main": [
        [
          {
            "node": "chunk",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Extract clubs": {
      "main": [
        [
          {
            "node": "Apply & upsert",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Apply & upsert": {
      "main": [
        [
          {
            "node": "Respond",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Anthropic Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "Extract clubs",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "chunk": {
      "main": [
        [
          {
            "node": "Extract clubs",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1"
  },
  "active": false,
  "pinData": {},
  "meta": {
    "templateId": "leblovina-extract-pdf"
  }
}