n8n/scrape-federations.json
{
  "name": "Leblovina — Scrape federations (FIVB VIS)",
  "active": false,
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "scrape-federations",
        "responseMode": "responseNode",
        "options": {}
      },
      "id": "node-webhook",
      "name": "Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [
        -360,
        0
      ],
      "webhookId": "scrape-federations"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "cfg-pburl",
              "name": "pbUrl",
              "value": "https://leblovina.tools.biceps.digital",
              "type": "string"
            },
            {
              "id": "cfg-visurl",
              "name": "visUrl",
              "value": "https://www.fivb.org/Vis2009/XmlRequest.asmx",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "id": "node-config",
      "name": "Config",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -160,
        0
      ]
    },
    {
      "parameters": {
        "method": "GET",
        "url": "={{ $json.visUrl }}",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            {
              "name": "Request",
              "value": "<Request Type=\"GetFederationList\" Fields=\"Code CountryCode Address1 Address2 Name No ConfederationCode City Category eMailAddress PhoneNo NamePresident NameGeneralSecretary NoImageLogo TeamName Website\"/>"
            }
          ]
        },
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "User-Agent",
              "value": "Mozilla/5.0 (compatible; leblovina-n8n)"
            },
            {
              "name": "Accept",
              "value": "application/json"
            }
          ]
        },
        "options": {
          "response": {
            "response": {
              "responseFormat": "json"
            }
          }
        }
      },
      "id": "node-http-vis",
      "name": "FIVB VIS GetFederationList",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        60,
        0
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{ $('Config').item.json.pbUrl }}/api/collections/_superusers/auth-with-password",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpCustomAuth",
        "options": {}
      },
      "id": "node-pb-auth",
      "name": "PB Auth",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        280,
        0
      ],
      "credentials": {
        "httpCustomAuth": {
          "id": "REPLACE_WITH_YOUR_CREDENTIAL_ID",
          "name": "PocketBase admin"
        }
      }
    },
    {
      "parameters": {
        "mode": "runOnceForAllItems",
        "language": "javaScript",
        "jsCode": "// Federations ingest — find-or-create into PocketBase (no upsert in PB).\n// Auth handled by the upstream \"PB Auth\" HTTP node (Custom Auth credential); this node\n// reuses that token. FIVB VIS returns JSON when Accept: application/json.\n\nconst PB_URL = ($('Config').first().json.pbUrl || '').replace(/\\/+$/, '');\nconst VIS_URL = $('Config').first().json.visUrl || 'https://www.fivb.org/Vis2009/XmlRequest.asmx';\nconst token = $('PB Auth').first().json.token;\nif (!token) {\n  throw new Error('No PocketBase token — check the \"PocketBase admin\" credential on the PB Auth node.');\n}\n\nconst headers = ($('Webhook').first().json.headers) || {};\nconst rescrape = String(headers.rescrape || headers.Rescrape || '').toLowerCase() === 'true';\n\n// FIVB VIS JSON shape: { data: [ { code, name, teamName, confederationCode, webSite, ... } ] }\nconst visJson = $('FIVB VIS GetFederationList').first().json;\nlet feds = visJson && (Array.isArray(visJson) ? visJson : visJson.data);\nif (!feds) feds = [];\nif (!Array.isArray(feds)) feds = [feds];\n\nconst get = (f, ...keys) => {\n  for (const k of keys) {\n    const v = f[k];\n    if (v != null && String(v).trim() !== '') return String(v).trim();\n  }\n  return '';\n};\nconst normUrl = (u) => {\n  u = (u || '').trim();\n  if (!u) return '';\n  return /^https?:\\/\\//i.test(u) ? u : 'https://' + u;\n};\n\nconst pbHeaders = { Authorization: token };\nconst findByCode = async (code) => {\n  const res = await this.helpers.httpRequest({\n    method: 'GET',\n    url: PB_URL + '/api/collections/federations/records',\n    qs: { filter: \"(fivb_code='\" + code + \"')\", perPage: 1 },\n    headers: pbHeaders, json: true,\n  });\n  return (res.items && res.items[0]) || null;\n};\n\nlet created = 0, updated = 0, failed = 0;\nconst errors = [];\nconst now = new Date().toISOString();\n\nfor (const f of feds) {\n  const code = get(f, 'code');\n  if (!code) continue;\n\n  const payload = {\n    fivb_code: code,\n    name: get(f, 'name'),\n    country: get(f, 'teamName'),\n    confederation: get(f, 'confederationCode'),\n    website_url: normUrl(get(f, 'webSite')),\n    president: get(f, 'namePresident'),\n    general_secretary: get(f, 'nameGeneralSecretary'),\n    email: get(f, 'eMailAddress'),\n    phone: get(f, 'phoneNo'),\n    source_url: VIS_URL,\n    last_scraped: now,\n  };\n\n  try {\n    const existing = await findByCode(code);\n    if (existing) {\n      await this.helpers.httpRequest({\n        method: 'PATCH',\n        url: PB_URL + '/api/collections/federations/records/' + existing.id,\n        headers: pbHeaders, body: payload, json: true,\n      });\n      updated++;\n    } else {\n      try {\n        await this.helpers.httpRequest({\n          method: 'POST',\n          url: PB_URL + '/api/collections/federations/records',\n          headers: pbHeaders, body: Object.assign({ status: 'new' }, payload), json: true,\n        });\n        created++;\n      } catch (e) {\n        const again = await findByCode(code);\n        if (again) {\n          await this.helpers.httpRequest({\n            method: 'PATCH',\n            url: PB_URL + '/api/collections/federations/records/' + again.id,\n            headers: pbHeaders, body: payload, json: true,\n          });\n          updated++;\n        } else { throw e; }\n      }\n    }\n  } catch (e) {\n    failed++;\n    if (errors.length < 10) errors.push({ code, message: (e && e.message) || String(e) });\n  }\n}\n\nreturn [{ json: { ok: failed === 0, total: feds.length, created, updated, failed, rescrape, errors } }];\n"
      },
      "id": "node-code",
      "name": "Upsert into PocketBase",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        500,
        0
      ]
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ $json }}",
        "options": {}
      },
      "id": "node-respond",
      "name": "Respond",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [
        720,
        0
      ]
    }
  ],
  "connections": {
    "Webhook": {
      "main": [
        [
          {
            "node": "Config",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Config": {
      "main": [
        [
          {
            "node": "FIVB VIS GetFederationList",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "FIVB VIS GetFederationList": {
      "main": [
        [
          {
            "node": "PB Auth",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "PB Auth": {
      "main": [
        [
          {
            "node": "Upsert into PocketBase",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Upsert into PocketBase": {
      "main": [
        [
          {
            "node": "Respond",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1"
  },
  "pinData": {},
  "meta": {
    "templateId": "leblovina-scrape-federations"
  }
}