n8n/search-discover-drain.json
{
  "name": "Leblovina — Search discover drain (cron)",
  "nodes": [
    {
      "parameters": { "rule": { "interval": [ { "field": "minutes", "minutesInterval": 2 } ] } },
      "id": "cron",
      "name": "Every 2 min",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.2,
      "position": [-600, 0]
    },
    {
      "parameters": {
        "assignments": { "assignments": [
          { "id": "p", "name": "pbUrl", "value": "https://leblovina.tools.biceps.digital", "type": "string" }
        ] },
        "options": {}
      },
      "id": "cfg",
      "name": "Config",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [-440, 0]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{ $('Config').item.json.pbUrl }}/api/collections/_superusers/auth-with-password",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpCustomAuth",
        "options": {}
      },
      "id": "auth",
      "name": "PB Auth",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [-280, 0],
      "credentials": { "httpCustomAuth": { "id": "hzdBwrAqrPZjDmME", "name": "PocketBase admin (api)" } }
    },
    {
      "parameters": {
        "mode": "runOnceForAllItems",
        "language": "javaScript",
        "jsCode": "const PB_URL=($('Config').first().json.pbUrl||'').replace(/\\/+$/,'');\nconst token=$('PB Auth').first().json.token; const pbH={Authorization:token};\nconst GET=(coll,qs)=>this.helpers.httpRequest({method:'GET',url:PB_URL+'/api/collections/'+coll+'/records',qs,headers:pbH,json:true});\nconst PATCH=(coll,id,b)=>this.helpers.httpRequest({method:'PATCH',url:PB_URL+'/api/collections/'+coll+'/records/'+id,headers:pbH,body:b,json:true});\n// 1) control flag (Pause)\nconst sres=await GET('settings',{filter:\"key='search_discover'\",perPage:1});\nconst cfg=((sres.items&&sres.items[0])||{}).value||{};\nif(cfg.enabled!==true) return [{json:{paused:true}}];\nconst cap=Number(cfg.batch_size||5); const staleMs=Number(cfg.stale_minutes||10)*60000; const now=Date.now();\n// 2) reconcile in-flight ('searching'): the processor flips rows to 'searched'/'error' itself.\n// Anything still 'searching' past the stale window lost its callback -> retry (or give up).\nconst proc=await GET('search_keywords',{filter:\"status='searching'\",perPage:200});\nlet inflight=0, reset=0, errored=0;\nfor(const row of (proc.items||[])){\n  const upd=row.updated?Date.parse(row.updated):0;\n  if(upd && (now-upd)>staleMs){ if((row.attempts||0)>=3){ try{await PATCH('search_keywords',row.id,{status:'error',notes:'stale (no callback after retries)'});}catch(_){}; errored++; } else { try{await PATCH('search_keywords',row.id,{status:'pending'});}catch(_){}; reset++; } continue; }\n  inflight++;\n}\n// 3) backpressure: top up to cap with pending keywords, dispatch one processor each\nconst slots=Math.max(0,cap-inflight); let fired=0;\nif(slots>0){\n  const q=await GET('search_keywords',{filter:\"status='pending'\",sort:'created',perPage:slots});\n  for(const row of (q.items||[])){\n    try{ await PATCH('search_keywords',row.id,{status:'searching',attempts:(row.attempts||0)+1}); }catch(e){ continue; }\n    const path=(row.target==='tournaments')?'tournament-process':'search-keyword-process';\n    try{ await this.helpers.httpRequest({method:'POST',url:'https://n8n-2.biceps.digital/webhook/'+path,headers:{'Content-Type':'application/json'},body:{id:row.id},json:true,timeout:15000}); }catch(e){}\n    fired++;\n  }\n}\nreturn [{json:{inflight,slots,fired,reset,errored}}];\n"
      },
      "id": "drain",
      "name": "Drain",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [-100, 0]
    }
  ],
  "connections": {
    "Every 2 min": { "main": [[{ "node": "Config", "type": "main", "index": 0 }]] },
    "Config": { "main": [[{ "node": "PB Auth", "type": "main", "index": 0 }]] },
    "PB Auth": { "main": [[{ "node": "Drain", "type": "main", "index": 0 }]] }
  },
  "settings": { "executionOrder": "v1" },
  "active": false,
  "pinData": {},
  "meta": { "templateId": "leblovina-search-discover-drain" }
}
