n8n/search-keywords-generate.json
{
  "name": "Leblovina — Search keywords generate",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "search-keywords-generate",
        "responseMode": "lastNode",
        "options": {}
      },
      "id": "wh",
      "name": "Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [
        -600,
        0
      ],
      "webhookId": "search-keywords-generate"
    },
    {
      "parameters": {
        "mode": "runOnceForAllItems",
        "language": "javaScript",
        "jsCode": "// Discovery v2: build a localized keyword-generation prompt by target. Returns candidates\n// only (no DB write) — the UI lets the user pick which to queue. See specs/search-led-discovery.md.\nconst b=($('Webhook').first().json.body)||{};\nconst target=String(b.target||'clubs');\nconst country=String(b.country||'').trim();\nconst count=Math.max(5,Math.min(120,Number(b.count)||40));\nconst focus=String(b.focus||'').trim();\nconst breadth=String(b.breadth||'specific');\nconst cities=Array.isArray(b.cities)?b.cities:[];\nlet prompt;\nif(target==='tournaments'){\n  prompt='The input is: \"'+country+'\". It is EITHER a LOCATION (a country or city) OR a specific TOURNAMENT NAME. If it is a LOCATION: generate about '+count+' DISTINCT localized web-search queries to discover volleyball TOURNAMENTS held there, mixing the local-language word for tournament/cup/championship (torneo, coppa, Turnier, Pokal, turniej, mistrzostwa, cup, championship, open, memorial) with volleyball terms and levels (youth, U18, junior, club, regional, beach). If it is a TOURNAMENT NAME: generate 5-10 query variations to find THAT tournament official site / participating-teams / results / entry-list page (the name combined with teams/participants/results/standings and recent years). Each query should surface a SPECIFIC tournament event site with a participating-teams list (NOT news articles or a federation calendar). Respond ONLY with compact JSON {\"keywords\":[{\"q\":string,\"lang\":string}]}, lang = 2-letter code. No prose, no code fences.';\n} else if(breadth==='broad'){\n  prompt='Generate BROAD, high-recall web-search queries to discover MANY volleyball CLUB websites in '+country+'.'+(focus?(' Focus specifically on: '+focus+'.'):'')+' Each query must be a GENERAL search (NOT tied to a single city), in the LOCAL language(s) of the country (Italy: pallavolo; Germany/Austria/Switzerland: Volleyball; Poland: siatkowka; Spain: voleibol; France: volley-ball; Greece: petosfairisi; otherwise English).'+' Vary the angle across the set: club/Verein/klub/societa/asd, youth/Jugend/junior/U16/U18 and level words, list/directory/clubs words, and broad REGIONS (Bundeslaender/regioni/voivodeships) - NOT specific cities.'+' These queries will be PAGINATED (several result pages each), so favour breadth and recall over precision; directories and lists in the results are fine.'+' Produce about '+count+' DISTINCT broad queries. Respond ONLY with compact JSON {\\\"keywords\\\":[{\\\"q\\\":string,\\\"lang\\\":string}]} where lang is the 2-letter language code of q. No prose, no code fences.';\n} else {\n  prompt='Generate web-search queries to find the official websites of INDIVIDUAL volleyball CLUBS in '+country+'. Use the LOCAL language(s) of that country for the volleyball term (Italy: pallavolo; Germany/Austria/Switzerland: Volleyball; Poland: siatkowka; Spain: voleibol; France: volley-ball; Greece: petosfairisi). Combine the volleyball term with club words (club / societa / Verein / klub / academy / youth / sezione / asd) AND with major cities and regions. '+((cities&&cities.length)?('Use these cities: '+cities.join(', ')+'.'):'Choose the ~25 largest cities and main regions of the country yourself.')+' Produce about '+count+' DISTINCT queries, each likely to surface a single club own site (NOT federations, leagues, results/stats, news or directories). Respond ONLY with compact JSON {\\\"keywords\\\":[{\\\"q\\\":string,\\\"lang\\\":string}]} where lang is the 2-letter language code of q. No prose, no code fences.';\n}\nreturn [{json:{target,country,count,breadth,focus,prompt}}];\n"
      },
      "id": "bp",
      "name": "Build prompt",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -420,
        0
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.anthropic.com/v1/messages",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "anthropicApi",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "anthropic-version",
              "value": "2023-06-01"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({ model: 'claude-haiku-4-5', max_tokens: 1800, messages: [ { role: 'user', content: $json.prompt } ] }) }}",
        "options": {
          "timeout": 60000
        }
      },
      "id": "gen",
      "name": "Generate",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        -220,
        0
      ],
      "onError": "continueRegularOutput",
      "credentials": {
        "anthropicApi": {
          "id": "PsTv3b7j6pP2jeMt",
          "name": "Anthropic (leblovina)"
        }
      }
    },
    {
      "parameters": {
        "mode": "runOnceForAllItems",
        "language": "javaScript",
        "jsCode": "// Parse the model output into candidate keywords; return them (no persistence).\nconst meta=$('Build prompt').first().json;\nlet kws=[];\ntry{ const resp=$json; const txt=(resp&&resp.content&&resp.content[0]&&resp.content[0].text)||''; const o=JSON.parse(String(txt).replace(/```json/gi,'').replace(/```/g,'').trim()); kws=Array.isArray(o.keywords)?o.keywords:[]; }catch(e){}\nconst seen=new Set(); const candidates=[];\nfor(const k of kws){ const kw=String((k&&k.q)||'').trim(); if(!kw||seen.has(kw.toLowerCase()))continue; seen.add(kw.toLowerCase()); candidates.push({keyword:kw,lang:String((k&&k.lang)||'').trim().slice(0,5)}); }\nreturn [{json:{target:meta.target,country:meta.country,count:candidates.length,candidates}}];\n"
      },
      "id": "parse",
      "name": "Parse",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        20,
        0
      ]
    }
  ],
  "connections": {
    "Webhook": {
      "main": [
        [
          {
            "node": "Build prompt",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Build prompt": {
      "main": [
        [
          {
            "node": "Generate",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Generate": {
      "main": [
        [
          {
            "node": "Parse",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1"
  },
  "active": false,
  "pinData": {},
  "meta": {
    "templateId": "leblovina-search-keywords-generate"
  }
}