n8n/site-scrape-driver.json
{
  "name": "Leblovina — Site-scrape driver",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "site-scrape-driver",
        "responseMode": "onReceived",
        "options": {}
      },
      "id": "wh",
      "name": "Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [
        -700,
        0
      ],
      "webhookId": "site-scrape-driver"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "p",
              "name": "pbUrl",
              "value": "https://leblovina.tools.biceps.digital",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "id": "cfg",
      "name": "Config",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -540,
        0
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{ $('Config').item.json.pbUrl }}/api/collections/_superusers/auth-with-password",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpCustomAuth",
        "options": {}
      },
      "id": "auth",
      "name": "PB Auth",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        -380,
        0
      ],
      "credentials": {
        "httpCustomAuth": {
          "id": "hzdBwrAqrPZjDmME",
          "name": "PocketBase admin (api)"
        }
      }
    },
    {
      "parameters": {
        "mode": "runOnceForAllItems",
        "language": "javaScript",
        "jsCode": "// Build the list of club ids to scrape, one item per club. The 'Fire workers' HTTP\n// node paces them via its native Batching option (no splitInBatches / Wait-node resume\n// chain — that design hung and orphaned executions at scale).\nconst body=($('Webhook').first().json.body)||{};\nconst PB_URL=($('Config').first().json.pbUrl||'').replace(/\\/+$/,'');\nconst token=$('PB Auth').first().json.token; const pbH={Authorization:token};\nconst force = body.force === true;\nconst limit = body.limit ? Number(body.limit) : 0;\nlet ids=[];\nif (Array.isArray(body.ids) && body.ids.length){\n  ids = body.ids.filter(Boolean);\n} else {\n  // no ids: every usable, not-yet-site-scraped club. 'already scraped' = scrape_note set\n  // (the worker's own marker), NOT status (also set by directory extraction). C excluded.\n  let flt='((website_status=\"live\" && (website_confidence=\"A\" || website_confidence=\"B\")) || detail_url!=\"\")';\n  if (!force) flt+=' && scrape_note=\"\"';\n  let page=1;\n  while(true){ const r=await this.helpers.httpRequest({method:'GET',url:PB_URL+'/api/collections/clubs/records',qs:{filter:flt,perPage:500,page,fields:'id'},headers:pbH,json:true}); ids=ids.concat((r.items||[]).map(x=>x.id)); if(page>=(r.totalPages||1))break; page++; }\n}\nif(limit>0) ids=ids.slice(0,limit);\n// --- job_runs: open the run (dispatch) ---\nconst sd=$getWorkflowStaticData('global'); const now=new Date().toISOString();\nif(ids.length){ let jobId=''; try{ const j=await this.helpers.httpRequest({method:'POST',url:PB_URL+'/api/collections/job_runs/records',headers:pbH,body:{kind:'site-scrape',label:'Scrape club sites for contacts',status:'running',total:ids.length,processed:0,started:now,message:'dispatching workers…'},json:true}); jobId=j.id; }catch(e){} sd.ssJobId=jobId; sd.ssTotal=ids.length; }\nif(!ids.length) return [{json:{__skip:true}}];\nreturn ids.map(id=>({json:{id,force}}));\n"
      },
      "id": "list",
      "name": "List clubs",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -200,
        0
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://n8n-2.biceps.digital/webhook/site-scrape-club-v2",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({ id: $json.id, force: $json.force === true }) }}",
        "options": {
          "batching": {
            "batch": {
              "batchSize": 5,
              "batchInterval": 20000
            }
          },
          "timeout": 20000
        }
      },
      "id": "fire",
      "name": "Fire workers",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        20,
        0
      ],
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "mode": "runOnceForAllItems",
        "language": "javaScript",
        "jsCode": "const sd=$getWorkflowStaticData('global');\nif(sd.ssJobId){ const PB_URL=($('Config').first().json.pbUrl||'').replace(/\\/+$/,''); const token=$('PB Auth').first().json.token; const pbH={Authorization:token};\n  try{ await this.helpers.httpRequest({method:'PATCH',url:PB_URL+'/api/collections/job_runs/records/'+sd.ssJobId,headers:pbH,body:{status:'done',finished:new Date().toISOString(),processed:(sd.ssTotal||0),total:(sd.ssTotal||0),message:'Dispatched '+(sd.ssTotal||0)+' workers'},json:true}); }catch(e){} sd.ssJobId=''; }\nreturn [{json:{dispatched:(sd.ssTotal||0)}}];"
      },
      "id": "jobfin",
      "name": "Job done",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        600,
        0
      ]
    }
  ],
  "connections": {
    "Webhook": {
      "main": [
        [
          {
            "node": "Config",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Config": {
      "main": [
        [
          {
            "node": "PB Auth",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "PB Auth": {
      "main": [
        [
          {
            "node": "List clubs",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "List clubs": {
      "main": [
        [
          {
            "node": "Fire workers",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Fire workers": {
      "main": [
        [
          {
            "node": "Job done",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1"
  },
  "active": false,
  "pinData": {},
  "meta": {
    "templateId": "leblovina-site-scrape-driver"
  }
}