n8n/site-scrape-driver.json
{
  "name": "Leblovina — Site-scrape driver",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "site-scrape-driver",
        "responseMode": "onReceived",
        "options": {}
      },
      "id": "wh",
      "name": "Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [
        -600,
        0
      ],
      "webhookId": "site-scrape-driver"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "p",
              "name": "pbUrl",
              "value": "https://leblovina.tools.biceps.digital",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "id": "cfg",
      "name": "Config",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -440,
        0
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{ $('Config').item.json.pbUrl }}/api/collections/_superusers/auth-with-password",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpCustomAuth",
        "options": {}
      },
      "id": "auth",
      "name": "PB Auth",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        -280,
        0
      ],
      "credentials": {
        "httpCustomAuth": {
          "id": "hzdBwrAqrPZjDmME",
          "name": "PocketBase admin (api)"
        }
      }
    },
    {
      "parameters": {
        "mode": "runOnceForAllItems",
        "language": "javaScript",
        "jsCode": "const body=($('Webhook').first().json.body)||{};\nconst limit=body.limit?Number(body.limit):0;\nlet items=[];\nif (Array.isArray(body.ids) && body.ids.length){\n  // explicit id list from the UI (current Clubs filter) — scrape exactly these\n  items = body.ids.filter(Boolean).map(id=>({id}));\n} else {\n  // no ids: all clubs with a live resolved website; optional onlyNew skips ones already scraped\n  const PB_URL=($('Config').first().json.pbUrl||'').replace(/\\/+$/,'');\n  const token=$('PB Auth').first().json.token; const pbH={Authorization:token};\n  let flt='website_status=\"live\"';\n  if (body.onlyNew) flt+=' && status!=\"contacts_found\" && status!=\"no_contacts\"';\n  let page=1;\n  while(true){ const r=await this.helpers.httpRequest({method:'GET',url:PB_URL+'/api/collections/clubs/records',qs:{filter:flt,perPage:200,page,fields:'id'},headers:pbH,json:true}); items=items.concat(r.items||[]); if(page>=(r.totalPages||1))break; page++; }\n}\nif(limit>0) items=items.slice(0,limit);\nif(!items.length) return [{json:{__skip:true}}];\nreturn items.map(c=>({json:{id:c.id}}));\n"
      },
      "id": "list",
      "name": "List clubs",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -120,
        0
      ]
    },
    {
      "parameters": {
        "batchSize": 5,
        "options": {}
      },
      "id": "loop",
      "name": "Loop",
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 3,
      "position": [
        60,
        0
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://n8n-2.biceps.digital/webhook/site-scrape-club",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({ id: $json.id, force: (($('Webhook').first().json.body)||{}).force === true }) }}",
        "options": {
          "timeout": 20000
        }
      },
      "id": "fire",
      "name": "Fire worker",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        260,
        120
      ],
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "amount": 20,
        "unit": "seconds"
      },
      "id": "wait",
      "name": "Throttle",
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1.1,
      "position": [
        460,
        120
      ]
    }
  ],
  "connections": {
    "Webhook": {
      "main": [
        [
          {
            "node": "Config",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Config": {
      "main": [
        [
          {
            "node": "PB Auth",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "PB Auth": {
      "main": [
        [
          {
            "node": "List clubs",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "List clubs": {
      "main": [
        [
          {
            "node": "Loop",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Loop": {
      "main": [
        [],
        [
          {
            "node": "Fire worker",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Fire worker": {
      "main": [
        [
          {
            "node": "Throttle",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Throttle": {
      "main": [
        [
          {
            "node": "Loop",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1"
  },
  "active": false,
  "pinData": {},
  "meta": {
    "templateId": "leblovina-site-scrape-driver"
  }
}
