n8n/site-scrape-club.json
{
  "name": "Leblovina — Site-scrape club contacts",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "site-scrape-club-v2",
        "responseMode": "onReceived",
        "options": {}
      },
      "id": "wh",
      "name": "Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [-600, 0],
      "webhookId": "site-scrape-club-v2"
    },
    {
      "parameters": {
        "assignments": { "assignments": [
          { "id": "p", "name": "pbUrl", "value": "https://leblovina.tools.biceps.digital", "type": "string" }
        ] },
        "options": {}
      },
      "id": "cfg",
      "name": "Config",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [-440, 0]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{ $('Config').item.json.pbUrl }}/api/collections/_superusers/auth-with-password",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpCustomAuth",
        "options": {}
      },
      "id": "auth",
      "name": "PB Auth",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [-280, 0],
      "credentials": { "httpCustomAuth": { "id": "hzdBwrAqrPZjDmME", "name": "PocketBase admin (api)" } }
    },
    {
      "parameters": {
        "method": "GET",
        "url": "={{ $('Config').item.json.pbUrl }}/api/collections/clubs/records/{{ $('Webhook').item.json.body.id }}",
        "sendHeaders": true,
        "headerParameters": { "parameters": [ { "name": "Authorization", "value": "={{ $('PB Auth').item.json.token }}" } ] },
        "options": {}
      },
      "id": "getc",
      "name": "Get club",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [-120, 0]
    },
    {
      "parameters": {
        "mode": "runOnceForAllItems",
        "language": "javaScript",
        "jsCode": "// E: plain-HTTP-first homepage fetch; flag whether JS rendering (Firecrawl) is needed.\nconst club = $('Get club').first().json;\nconst home = (club.website_url||'').trim();\nconst UA={'User-Agent':'Mozilla/5.0 (Macintosh; Intel Mac OS X 10_15_7) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/124 Safari/537.36'};\nlet html='', ok=false, sc=0;\nif (home){\n  try{ const r=await this.helpers.httpRequest({method:'GET',url:home,headers:UA,timeout:9000,returnFullResponse:true,ignoreHttpStatusErrors:true,followRedirect:true}); html=String(r.body||''); sc=r.statusCode||0; ok=(sc>=200&&sc<400)||sc===401||sc===403; }catch(e){}\n}\nconst text = html.replace(/<script[\\s\\S]*?<\\/script>/gi,' ').replace(/<style[\\s\\S]*?<\\/style>/gi,' ').replace(/<[^>]+>/g,' ').replace(/\\s+/g,' ').trim();\nconst hasMail = /mailto:|[a-z0-9._%+\\-]+@[a-z0-9.\\-]+\\.[a-z]{2,}/i.test(html);\nconst needsRender = home ? (!ok || html.length<1500 || (text.length<400 && !hasMail) || (/enable javascript|please enable js/i.test(html) && text.length<800 && !hasMail)) : false;\nreturn [{json:{ home, html, ok, sc, needsRender, textLen:text.length }}];\n"
      },
      "id": "fhome",
      "name": "Fetch home",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [40, 0]
    },
    {
      "parameters": {
        "conditions": {
          "options": { "caseSensitive": true, "leftValue": "", "typeValidation": "loose", "version": 2 },
          "combinator": "and",
          "conditions": [ { "id": "c1", "leftValue": "={{ $json.needsRender }}", "rightValue": "", "operator": { "type": "boolean", "operation": "true", "singleValue": true } } ]
        },
        "options": {}
      },
      "id": "ifrender",
      "name": "Needs render?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [200, 0]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.firecrawl.dev/v1/scrape",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({ url: $('Get club').item.json.website_url, formats:['markdown'], onlyMainContent:false, waitFor:3500, timeout:90000 }) }}",
        "options": { "timeout": 110000 }
      },
      "id": "fchome",
      "name": "Firecrawl home",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [380, 160],
      "onError": "continueRegularOutput",
      "credentials": { "httpHeaderAuth": { "id": "ZxHAcWu5UlNAMy8X", "name": "Firecrawl (leblovina)" } }
    },
    {
      "parameters": {
        "mode": "runOnceForAllItems",
        "language": "javaScript",
        "jsCode": "const club = $('Get club').first().json;\nconst fh = $('Fetch home').first().json;\nconst home = (club.website_url||'').trim();\nconst detail = (club.detail_url||'').trim();\nconst hostOf=(u)=>String(u||'').replace(/^https?:\\/\\//i,'').replace(/^www\\./i,'').split(/[\\/?#]/)[0].toLowerCase();\nconst domain = hostOf(home);\nconst detailHost = hostOf(detail);\nconst multisport = String(club.club_type||'')==='multisport';\nconst cConf = String(club.website_confidence||'');\n// C-confidence websites are NEVER page-scraped (force can't override). detail_url is\n// federation-provenance, always usable. Need at least one usable source.\nconst useSite = !!home && cConf!=='C';\nif(!useSite && !detail){ return [{json:{__skip:true, skipReason: home?'low_confidence':'no_source', clubId:club.id, domain, pages:[]}}]; }\n\nconst UA={'User-Agent':'Mozilla/5.0 (Macintosh; Intel Mac OS X 10_15_7) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/124 Safari/537.36'};\nconst grab=async(u)=>{ try{ const r=await this.helpers.httpRequest({method:'GET',url:u,headers:UA,timeout:9000,returnFullResponse:true,ignoreHttpStatusErrors:true,followRedirect:true}); return {body:String(r.body||''), status:r.statusCode||0}; }catch(e){ return {body:'',status:0}; } };\nconst clean=(h)=>String(h||'')\n  .replace(/<script[\\s\\S]*?<\\/script>/gi,' ').replace(/<style[\\s\\S]*?<\\/style>/gi,' ')\n  .replace(/<a\\b[^>]*href=[\"']mailto:([^\"']+)[\"'][^>]*>([\\s\\S]*?)<\\/a>/gi,' $2 <$1> ')\n  .replace(/<\\/(div|li|tr|p|h[1-6]|td|section|article|header|footer)>/gi,'\\n').replace(/<br\\s*\\/?>/gi,'\\n')\n  .replace(/<[^>]+>/g,' ').replace(/&nbsp;/gi,' ').replace(/&amp;/gi,'&')\n  .replace(/[ \\t]+/g,' ').replace(/\\n[ \\t]*(\\n[ \\t]*)+/g,'\\n').trim();\n\nconst KW=/(contact|kontakt|kontakti|contatti|contacto|impressum|imprint|o-?nas|about|chi-siamo|sobre|team|tym|tiim|meeskond|squadra|equipe|equipo|staff|people|members|liikmed|coaches|treener|trener|trenari|treneri|juhatus|vorstand|zarzad|verein|mannschaft|vedeni)/i;\n\nconst pages=[];\nlet combined='CLUB DOMAIN: '+(useSite?domain:'(none — see federation directory page)')+'\\nCLUB: '+(club.name||'')+'\\n';\nif (multisport) combined+='NOTE: This is a MULTI-SPORT club — extract ONLY the volleyball section/department contacts (its coach/board), not other sports.\\n';\n\nlet cands=[], fetchedSite=false, fetchedDetail=false;\nif (useSite){\n  let md='', homeRaw='', homeText='', homeMethod='http', homeStatus=(fh.sc||0);\n  if (fh.needsRender){ try{ const fc=$('Firecrawl home').first().json; md=(fc&&fc.data&&fc.data.markdown)||''; }catch(e){} }\n  if (md){ homeText = md.slice(0,40000); homeRaw = md; homeMethod='firecrawl'; if(!homeStatus)homeStatus=200; }\n  else { homeRaw = fh.html||''; homeText = clean(homeRaw).slice(0,40000); homeMethod='http'; }\n  const links=[];\n  const addLink=(txt,h)=>{ if(!h||/^(mailto:|tel:|javascript:|#)/i.test(h)) return; if(!KW.test(h)&&!KW.test(txt||'')) return; let abs; if(/^https?:\\/\\//i.test(h)) abs=h.split('#')[0]; else if(h.charAt(0)==='/') abs='https://'+domain+h.split('#')[0]; else return; if(hostOf(abs)===domain && links.indexOf(abs)<0) links.push(abs); };\n  if (md){ const re=/\\[([^\\]]*)\\]\\(([^)\\s]+)\\)/g; let m; while((m=re.exec(md))) addLink(m[1],m[2]); }\n  else { const re=/<a\\b[^>]*href=[\"']([^\"']+)[\"'][^>]*>([\\s\\S]*?)<\\/a>/gi; let m; while((m=re.exec(homeRaw))) addLink(m[2].replace(/<[^>]+>/g,' '), m[1]); }\n  const onDom=(u)=> u && hostOf(u)===domain; const norm=(u)=> String(u).split('#')[0];\n  const seed=[];\n  if (multisport && onDom(club.section_url)) seed.push(norm(club.section_url));\n  if (onDom(club.contact_url)) seed.push(norm(club.contact_url));\n  if (!multisport && onDom(club.section_url)) seed.push(norm(club.section_url));\n  const ordered=[]; for(const u of seed.concat(links)){ if(u && u!==home && ordered.indexOf(u)<0) ordered.push(u); }\n  cands=ordered.slice(0,4);\n  combined+='\\n=== '+home+' (homepage) ===\\n'+homeText;\n  pages.push({url:home, role:'homepage', method:homeMethod, http_status:homeStatus, bytes:(homeRaw||'').length, used:true, text:homeText, raw:homeRaw});\n  for(const c of cands){ const g=await grab(c); if(g.body){ const ct=clean(g.body).slice(0,15000); combined+='\\n\\n=== '+c+' ===\\n'+ct; pages.push({url:c, role:'candidate', method:'http', http_status:g.status, bytes:g.body.length, used:true, text:ct, raw:g.body}); } else { pages.push({url:c, role:'candidate', method:'http', http_status:g.status, bytes:0, used:false, text:'', raw:''}); } }\n  fetchedSite = homeText.length>200 || md.length>0;\n}\n\nif (detail){\n  const g=await grab(detail);\n  if (g.body){ const dc=clean(g.body).slice(0,15000); combined+='\\n\\n=== '+detail+' (FEDERATION DIRECTORY PAGE — extract THIS club only; EXCLUDE the federation own office/press/marketing/website/social emails) ===\\n'+dc; pages.push({url:detail, role:'detail', method:'http', http_status:g.status, bytes:g.body.length, used:true, text:dc, raw:g.body}); fetchedDetail = dc.length>50; }\n  else { pages.push({url:detail, role:'detail', method:'http', http_status:g.status, bytes:0, used:false, text:'', raw:''}); }\n}\n\nconst harvestedEmails = (useSite && Array.isArray(club.website_emails)) ? club.website_emails : [];\nconst fetched = fetchedSite || fetchedDetail;\nreturn [{json:{clubId:club.id, name:club.name||'', domain: (useSite?domain:detailHost), detailHost, home, detail, candidates:cands, combined, fetched, harvestedEmails, multisport, pages}}];\n"
      },
      "id": "crawl",
      "name": "Crawl",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [560, 0]
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "={{ $json.combined ? $json.combined : 'No content.' }}",
        "options": {
          "systemMessage": "You are given the cleaned text of a volleyball club's OWN website (homepage + contact/about/team pages). The text is split into sections, each preceded by a header line '=== URL ===' giving the page that section came from. mailto links appear inline as 'Name <email>'. If a NOTE says this is a multi-sport club, extract ONLY the volleyball section's contacts, not other sports. A section whose '=== URL ===' header is marked '(FEDERATION DIRECTORY PAGE ...)' is the federation's listing of THIS club: extract the club's own contact shown there (email/phone/president or board name), but EXCLUDE the federation's own addresses (office@, press@, marketing@, website@, social@, info@ on the federation's domain, or any address that is the federation's general contact rather than this specific club's). Extract the club's contacts. Return ONLY JSON - no prose, no code fences - {\"contacts\":[{\"email\":string,\"name\":string,\"position\":string,\"phone\":string,\"source\":string}]}. email is REQUIRED per contact (omit any contact without an email; capture only emails literally present, including the <email> shown inline from mailto links; NEVER invent, complete or guess an email). For EACH email, look at the surrounding line/row/card for: NAME = the person's full name if shown; POSITION = their role in ANY language (e.g. President/Predsjednik/Předseda/Esimees, Secretary/Sekretär, Coach/Trener/Treener/Trainer, Board member/Vorstand/Juhatus). name and position are OPTIONAL - include them whenever they appear near the email; use \"\" if absent. phone = a phone shown near the email, else \"\". source = the URL from the nearest '=== URL ===' header ABOVE the email (use the homepage URL for the homepage section); use \"\" if unsure. EXCLUDE (these are NOISE, never a club contact): the web/marketing/PR/creative agency or developer that built the site — look for footer credits like 'realizacja', 'wykonanie', 'projekt i wykonanie', 'wykonanie strony', 'created by', 'powered by', 'site by', 'webdesign', 'CMS' — drop any email on that agency/studio's domain even if a person is named next to it; hosting/CMS/platform addresses (wordpress@, sentry@, no-reply@, postmaster@, hosting info@/support@); social media; cookie/privacy boilerplate; and unrelated third-party company domains that merely built or host the site. When a named person's email is on an outside company/agency domain rather than the club's own domain, drop it unless the text makes clear it is genuinely the club's contact. PREFER emails on the club's own domain (CLUB DOMAIN given) or a personal address tied to a named person. If no legitimate club email is present, return {\"contacts\":[]}."
        }
      },
      "id": "extract",
      "name": "Extract contacts",
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 1.7,
      "position": [740, 0],
      "onError": "continueRegularOutput",
      "retryOnFail": true,
      "maxTries": 3,
      "waitBetweenTries": 4000
    },
    {
      "parameters": { "modelName": "models/gemini-2.5-flash", "options": {} },
      "id": "gmodel",
      "name": "Gemini Chat Model",
      "type": "@n8n/n8n-nodes-langchain.lmChatGoogleGemini",
      "typeVersion": 1,
      "position": [740, 200],
      "credentials": { "googlePalmApi": { "id": "bk0TwlDz0lEZUfic", "name": "Gemini (leblovina)" } }
    },
    {
      "parameters": {
        "mode": "runOnceForAllItems",
        "language": "javaScript",
        "jsCode": "const PB_URL=($('Config').first().json.pbUrl||'').replace(/\\/+$/,'');\nconst token=$('PB Auth').first().json.token; const pbH={Authorization:token};\nconst c = $('Crawl').first().json;\nif (c.__skip){\n  if(c.skipReason==='low_confidence') return [{json:{ok:false,clubId:c.clubId,note:'skipped: low-confidence (C), no detail page'}}];\n  return [{json:{ok:false,note:'no source (no website, no detail page)'}}];\n}\nconst clubId=c.clubId, domain=c.domain, detailHost=c.detailHost||'';\nconst src = c.home || c.detail;\nconst hostOf=(u)=>String(u||'').replace(/^https?:\\/\\//i,'').replace(/^www\\./i,'').split(/[\\/?#]/)[0].toLowerCase();\nconst isEmail=(e)=>/^[^@\\s]+@[^@\\s]+\\.[^@\\s]+$/.test(e);\nconst NOISE_DOMAINS=new Set(['otagomedia.pl','iproart.com']);\nconst NOISE_RE=/(agencja|interaktyw|interactive|webstudio|web-studio|webdesign|web-design|webdev|itstudio|mediasoft|softstudio|nettbureau|studioweb|reklamowa|e-?point|webmade)/i;\nconst isNoise=(email)=>{const dom=(email.split('@')[1]||'').toLowerCase();return NOISE_DOMAINS.has(dom)||NOISE_RE.test(dom);};\nconst findContact=async(e)=>{const r=await this.helpers.httpRequest({method:'GET',url:PB_URL+'/api/collections/contacts/records',qs:{filter:\"(email='\"+e.replace(/'/g,'')+\"')\",perPage:1},headers:pbH,json:true});return (r.items&&r.items[0])||null;};\nconst parse=(raw0)=>{let raw=String(raw0||'').trim().replace(/^```(json)?/i,'').replace(/```\\s*$/,'').trim();try{const p=JSON.parse(raw);if(p&&Array.isArray(p.contacts))return p.contacts;}catch(e){}const out=[];const st=[];for(let i=0;i<raw.length;i++){const ch=raw[i];if(ch==='{')st.push(i);else if(ch==='}'){const s=st.pop();if(s!=null){try{const o=JSON.parse(raw.slice(s,i+1));if(o&&typeof o==='object'&&('email' in o))out.push(o);}catch(_){}}}}return out;};\n\nlet created=0,patched=0; const seen=new Set();\nconst upsert=async(email,nm,pos,ph,srcUrl,styp)=>{\n  try{ await this.helpers.httpRequest({method:'POST',url:PB_URL+'/api/collections/contacts/records',headers:pbH,body:{club:clubId,email,name:nm,position:pos,phone:ph,source_url:srcUrl,source_type:styp,verification_status:'unverified'},json:true}); created++; }\n  catch(e){ try{ const ex=await findContact(email); if(ex){ const p={}; if(!ex.club)p.club=clubId; if(nm&&!ex.name)p.name=nm; if(pos&&!ex.position)p.position=pos; if(ph&&!ex.phone)p.phone=ph; if(!ex.source_type)p.source_type=styp; if(!ex.source_url)p.source_url=srcUrl; if(Object.keys(p).length) await this.helpers.httpRequest({method:'PATCH',url:PB_URL+'/api/collections/contacts/records/'+ex.id,headers:pbH,body:p,json:true}); patched++; } }catch(_){} }\n};\nconst typeOf=(u)=> (detailHost && hostOf(u)===detailHost) ? 'directory' : 'club_site';\n\nconst cts=parse(($('Extract contacts').first().json||{}).output);\nfor(const ct of cts){ const email=String((ct&&ct.email)||'').trim().toLowerCase(); if(!email||!isEmail(email)||isNoise(email)||seen.has(email)) continue; seen.add(email);\n  const nm=String((ct&&ct.name)||'').trim(),pos=String((ct&&ct.position)||'').trim(),ph=String((ct&&ct.phone)||'').trim();\n  let su=String((ct&&ct.source)||'').trim(); if(!/^https?:\\/\\//i.test(su)) su=src;\n  await upsert(email,nm,pos,ph,su,typeOf(su));\n}\nfor(const e0 of (c.harvestedEmails||[])){ const email=String(e0||'').trim().toLowerCase(); if(!email||!isEmail(email)||isNoise(email)||seen.has(email)) continue; seen.add(email); await upsert(email,'','','',c.home||src,'club_site'); }\n\nconst got=created+patched;\nlet note, status;\nif(got>0){ note='site-scrape: '+got+' contact(s) from '+(domain||'directory'); status='contacts_found'; }\nelse if(!c.fetched){ note='site-scrape: fetch failed (anti-bot/blocked) — needs Apify'; status='error'; }\nelse { note='site-scrape: 0 contacts (no email on site / parked)'; status='no_contacts'; }\nconst now=new Date().toISOString();\ntry{ await this.helpers.httpRequest({method:'PATCH',url:PB_URL+'/api/collections/clubs/records/'+clubId,headers:pbH,body:{status,last_scraped:now,scrape_note:note},json:true}); }catch(_){}\nreturn [{json:{ok:true,clubId,domain,contactsCreated:created,contactsPatched:patched,note}}];\n"
      },
      "id": "write",
      "name": "Write",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [920, -120]
    },
    {
      "parameters": {
        "mode": "runOnceForAllItems",
        "language": "javaScript",
        "jsCode": "// Audit trail: persist every page the scraper touched (metadata + cleaned text + raw\n// HTML/markdown as a file) into the scrape_pages collection. Re-scrape replaces. Page\n// capture must NEVER break the contact write — all errors are swallowed.\nconst PB_URL=($('Config').first().json.pbUrl||'').replace(/\\/+$/,'');\nconst token=$('PB Auth').first().json.token; const pbH={Authorization:token};\nconst c = $('Crawl').first().json;\nif (!c || c.__skip || !Array.isArray(c.pages) || !c.pages.length) return [{json:{pagesWritten:0}}];\nconst clubId=c.clubId;\n// emails attributed per source page (from the extractor output)\nconst parse=(raw0)=>{let raw=String(raw0||'').trim().replace(/^```(json)?/i,'').replace(/```\\s*$/,'').trim();try{const p=JSON.parse(raw);if(p&&Array.isArray(p.contacts))return p.contacts;}catch(e){}return [];};\nconst cts=parse(($('Extract contacts').first().json||{}).output);\nconst bySrc={}; for(const ct of cts){ const su=String((ct&&ct.source)||'').trim(); if(su) bySrc[su]=(bySrc[su]||0)+1; }\n// replace: delete this club's prior pages\ntry{ const ex=await this.helpers.httpRequest({method:'GET',url:PB_URL+'/api/collections/scrape_pages/records',qs:{filter:'club=\"'+clubId+'\"',perPage:200,fields:'id'},headers:pbH,json:true}); for(const p of (ex.items||[])){ try{ await this.helpers.httpRequest({method:'DELETE',url:PB_URL+'/api/collections/scrape_pages/records/'+p.id,headers:pbH,json:true}); }catch(_){}} }catch(_){}\nconst now=new Date().toISOString();\nconst out=[];\nfor(let i=0;i<c.pages.length;i++){ const pg=c.pages[i];\n  const meta={club:clubId,url:String(pg.url||''),role:String(pg.role||''),method:String(pg.method||'http'),http_status:Number(pg.http_status||0),bytes:Number(pg.bytes||0),used:!!pg.used,emails_found:Number(bySrc[pg.url]||0),text:String(pg.text||'').slice(0,200000),run_at:now};\n  let recId=null;\n  // step 1: create the row (metadata + cleaned text) via JSON — reliable\n  try{ const rec=await this.helpers.httpRequest({method:'POST',url:PB_URL+'/api/collections/scrape_pages/records',headers:pbH,body:meta,json:true}); recId=rec&&rec.id; }catch(e){ continue; }\n  // step 2: emit a binary item per page-with-raw for the 'Upload raw' HTTP node (canonical\n  // n8n file-upload pattern — Code-node helpers can't do multipart). prepareBinaryData stamps\n  // the filename/mime; the HTTP node PATCHes it onto the record's 'raw' file field.\n  const raw=String(pg.raw||'');\n  if(recId && raw){ const ext=pg.method==='firecrawl'?'md':'html'; const fname=(pg.role||'page')+'-'+i+'.'+ext; const bin=await this.helpers.prepareBinaryData(Buffer.from(raw,'utf8'),fname,(ext==='md'?'text/markdown':'text/html')); out.push({json:{recId,filename:fname,clubId},binary:{data:bin}}); }\n}\nreturn out;\n"
      },
      "id": "wpages",
      "name": "Write pages",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [920, 120]
    },
    {
      "parameters": {
        "method": "PATCH",
        "url": "={{ $('Config').item.json.pbUrl }}/api/collections/scrape_pages/records/{{ $json.recId }}",
        "sendHeaders": true,
        "headerParameters": { "parameters": [ { "name": "Authorization", "value": "={{ $('PB Auth').item.json.token }}" } ] },
        "sendBody": true,
        "contentType": "multipart-form-data",
        "bodyParameters": { "parameters": [ { "parameterType": "formBinaryData", "name": "raw", "inputDataFieldName": "data" } ] },
        "options": { "timeout": 20000 }
      },
      "id": "uploadraw",
      "name": "Upload raw",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [1120, 120],
      "onError": "continueRegularOutput"
    }
  ],
  "connections": {
    "Webhook": { "main": [[{ "node": "Config", "type": "main", "index": 0 }]] },
    "Config": { "main": [[{ "node": "PB Auth", "type": "main", "index": 0 }]] },
    "PB Auth": { "main": [[{ "node": "Get club", "type": "main", "index": 0 }]] },
    "Get club": { "main": [[{ "node": "Fetch home", "type": "main", "index": 0 }]] },
    "Fetch home": { "main": [[{ "node": "Needs render?", "type": "main", "index": 0 }]] },
    "Needs render?": { "main": [
      [{ "node": "Firecrawl home", "type": "main", "index": 0 }],
      [{ "node": "Crawl", "type": "main", "index": 0 }]
    ] },
    "Firecrawl home": { "main": [[{ "node": "Crawl", "type": "main", "index": 0 }]] },
    "Crawl": { "main": [[{ "node": "Extract contacts", "type": "main", "index": 0 }]] },
    "Gemini Chat Model": { "ai_languageModel": [[{ "node": "Extract contacts", "type": "ai_languageModel", "index": 0 }]] },
    "Extract contacts": { "main": [[
      { "node": "Write", "type": "main", "index": 0 },
      { "node": "Write pages", "type": "main", "index": 0 }
    ]] },
    "Write pages": { "main": [[{ "node": "Upload raw", "type": "main", "index": 0 }]] }
  },
  "settings": { "executionOrder": "v1", "callerPolicy": "workflowsFromSameOwner", "availableInMCP": false },
  "active": false,
  "pinData": {},
  "meta": null
}
