n8n/tournament-process.json
{
  "name": "Leblovina \u2014 Tournament process",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "tournament-process",
        "responseMode": "lastNode",
        "options": {}
      },
      "id": "wh",
      "name": "Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [
        -980,
        0
      ],
      "webhookId": "tournament-process"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "p",
              "name": "pbUrl",
              "value": "https://leblovina.tools.biceps.digital",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "id": "cfg",
      "name": "Config",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -820,
        0
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{ $('Config').item.json.pbUrl }}/api/collections/_superusers/auth-with-password",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpCustomAuth",
        "options": {}
      },
      "id": "auth",
      "name": "PB Auth",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        -660,
        0
      ],
      "credentials": {
        "httpCustomAuth": {
          "id": "hzdBwrAqrPZjDmME",
          "name": "PocketBase admin (api)"
        }
      }
    },
    {
      "parameters": {
        "method": "GET",
        "url": "={{ $('Config').item.json.pbUrl }}/api/collections/search_keywords/records/{{ $('Webhook').item.json.body.id }}",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "={{ $('PB Auth').item.json.token }}"
            }
          ]
        },
        "options": {}
      },
      "id": "getk",
      "name": "Get Keyword",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        -500,
        0
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://google.serper.dev/search",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({ q: $('Get Keyword').item.json.keyword, num: 10 }) }}",
        "options": {}
      },
      "id": "serp",
      "name": "Serper Search",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        -340,
        0
      ],
      "onError": "continueRegularOutput",
      "credentials": {
        "httpHeaderAuth": {
          "id": "oPmSDcClj5DfGKCM",
          "name": "Serper (leblovina)"
        }
      }
    },
    {
      "parameters": {
        "mode": "runOnceForAllItems",
        "language": "javaScript",
        "jsCode": "const kw=$('Get Keyword').first().json;\nconst organic=(($('Serper Search').first().json||{}).organic)||[];\nconst hostOf=(u)=>String(u||'').replace(/^https?:\\/\\//i,'').replace(/^www\\./i,'').split(/[\\/?#]/)[0].toLowerCase();\nconst blocked=/(facebook|instagram|twitter|x\\.com|youtube|tiktok|wikipedia|fandom|pinterest|reddit)/i;\nconst PART=/(teams?|participant|participating|squadre|squadra|mannschaft|equipe|equipos|deelnemers|druzyn|clubs?|rooms?|draw|bracket|groups?|standings|classifica|tabella|entry|entries|startlist|iscritte|omades|komandos|lag)/i;\nconst orgs=organic.filter(r=>r.link&&/^https?:/i.test(r.link)&&!blocked.test(hostOf(r.link)));\nconst site=(orgs[0]&&orgs[0].link)||'';\nconst cands=orgs.filter(r=>PART.test(r.link||'')||PART.test(r.title||'')||PART.test(r.snippet||'')).map(r=>r.link);\nreturn [{json:{kwId:kw.id,keyword:kw.keyword,country:kw.country||'',resultsCount:organic.length,site:site||'https://example.invalid',host:hostOf(site),cands}}];\n"
      },
      "id": "pick",
      "name": "Pick site",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -180,
        0
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.firecrawl.dev/v1/scrape",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({ url: $('Pick site').item.json.site, formats: ['markdown','links'], onlyMainContent: false, waitFor: 2500, timeout: 60000 }) }}",
        "options": {
          "timeout": 70000
        }
      },
      "id": "fch",
      "name": "Firecrawl Home",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        -20,
        0
      ],
      "onError": "continueRegularOutput",
      "credentials": {
        "httpHeaderAuth": {
          "id": "ZxHAcWu5UlNAMy8X",
          "name": "Firecrawl (leblovina)"
        }
      }
    },
    {
      "parameters": {
        "mode": "runOnceForAllItems",
        "language": "javaScript",
        "jsCode": "const ps=$('Pick site').first().json;\nlet data={}; try{ data=($('Firecrawl Home').first().json||{}).data||{}; }catch(e){}\nconst homeMd=String(data.markdown||'');\nconst links=Array.isArray(data.links)?data.links.filter(x=>typeof x==='string'):[];\nconst hostOf=(u)=>String(u||'').replace(/^https?:\\/\\//i,'').replace(/^www\\./i,'').split(/[\\/?#]/)[0].toLowerCase();\nconst pathOf=(u)=>String(u||'').replace(/^https?:\\/\\/[^\\/]*/i,'').split(/[?#]/)[0].replace(/\\/+$/,'');\nconst baseOf=(u)=>{const p=pathOf(u);return (p.split('/').pop()||'').toLowerCase();};\nconst STRONG=/(mannschaft|teamsearch|team-?search|^teams?$|^teams?\\.|squadr|equipos?|equipes?|deelnemers|participant|vereine|verein|druzyn|iscritte|startlist|ekipe|omades|komandos|roster|members|clubs?)/;\nconst BAD=/(spieler|player|mvp|news|presse|tabelle|standing|spielplan|spielmodus|halle|wechsel|archiv|statistik|ranking|history|matches|privacy|cookie|login|kontakt|impressum|datenschutz|ticket|shop|stream|video|partner|jobs)/;\n// collect candidate urls: home links + markdown links + serper cands\nlet urls=[].concat(links,(ps.cands||[]));\nlet m; const reMd=/\\]\\((https?:\\/\\/[^)]+)\\)/g; while((m=reMd.exec(homeMd))) urls.push(m[1]);\n// DataProject: build CompetitionTeamSearch.aspx?ID=<n> per distinct (host,competition id)\nconst dpSeen=new Set(); const dpPages=[];\nfor(const u of urls){ const mm=String(u).match(/^(https?:\\/\\/[^\\/]*dataproject\\.com)\\/Competition[^?]*\\.aspx\\?[^#]*\\bID=(\\d+)/i); if(mm){ const k=mm[1].toLowerCase()+'|'+mm[2]; if(!dpSeen.has(k)){ dpSeen.add(k); dpPages.push(mm[1]+'/CompetitionTeamSearch.aspx?ID='+mm[2]); } } }\n// generic team-list pages, scored by basename\nconst seen=new Set(); const scored=[];\nfor(const u of urls){ if(typeof u!=='string'||!/^https?:/i.test(u))continue; const k=u.split('#')[0]; if(seen.has(k))continue; seen.add(k);\n  const p=pathOf(u); if(!p||p==='/')continue; // reject root/homepage\n  const b=baseOf(u); if(!b||BAD.test(b)||!STRONG.test(b))continue;\n  const sameHost=hostOf(u)===ps.host?2:0; const bonus=(b.indexOf('mannschaft')>=0||b.indexOf('teamsearch')>=0||/^teams?(\\.|$)/.test(b))?1:0;\n  scored.push({url:k,score:sameHost+bonus}); }\nscored.sort((a,b)=>b.score-a.score);\nlet pages=dpPages.concat(scored.map(s=>s.url));\nconst fseen=new Set(); pages=pages.filter(u=>{const k=u.split('#')[0]; if(fseen.has(k))return false; fseen.add(k); return true;}).slice(0,8);\nconst platform=dpPages.length?'dataproject':((pages[0]&&/challonge/.test(hostOf(pages[0])))?'challonge':((pages[0]&&/sportsengine|sportngin/.test(hostOf(pages[0])))?'sportsengine':''));\nif(!pages.length) pages=[ps.site]; // fallback: homepage (LLM will return no teams -> no_participants)\nreturn pages.map((u,i)=>({json:{kwId:ps.kwId,keyword:ps.keyword,country:ps.country,resultsCount:ps.resultsCount,site:ps.site,host:ps.host,platform,participantsUrl:pages[0],pageUrl:u,idx:i,total:pages.length}}));\n"
      },
      "id": "plan",
      "name": "Plan pages",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        140,
        0
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.firecrawl.dev/v1/scrape",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({ url: $json.pageUrl, formats: ['markdown'], onlyMainContent: true, waitFor: 3500, timeout: 60000 }) }}",
        "options": {
          "timeout": 70000
        }
      },
      "id": "fcp",
      "name": "Firecrawl Participants",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        300,
        0
      ],
      "onError": "continueRegularOutput",
      "credentials": {
        "httpHeaderAuth": {
          "id": "ZxHAcWu5UlNAMy8X",
          "name": "Firecrawl (leblovina)"
        }
      }
    },
    {
      "parameters": {
        "mode": "runOnceForAllItems",
        "language": "javaScript",
        "jsCode": "const plans=$('Plan pages').all();\nconst out=[];\nfor(let i=0;i<items.length;i++){\n  let md=''; try{ md=String((((items[i].json||{}).data)||{}).markdown||''); }catch(e){}\n  const h=md.search(/\\n#\\s+\\S/);\n  if(h>800) md=md.slice(h);\n  md=md.slice(0,45000);\n  const meta=(plans[i]&&plans[i].json)||(plans[0]&&plans[0].json)||{};\n  out.push({json:{text:md,keyword:meta.keyword||'',country:meta.country||'',pageUrl:meta.pageUrl||'',platform:meta.platform||''}});\n}\nreturn out;\n"
      },
      "id": "trim",
      "name": "Trim",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        460,
        0
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.anthropic.com/v1/messages",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "anthropicApi",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "anthropic-version",
              "value": "2023-06-01"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({ model: 'claude-haiku-4-5', max_tokens: 4000, messages: [ { role: 'user', content: 'You are extracting the PARTICIPATING CLUBS/TEAMS of a volleyball tournament from ONE rendered web page. Tournament search keyword: ' + JSON.stringify($json.keyword) + '. Page URL: ' + JSON.stringify($json.pageUrl) + '. Page content (markdown): ' + JSON.stringify(String($json.text||'')) + '. Find the list of participating teams/clubs on THIS page. Respond ONLY with compact JSON {\\\"is_tournament\\\":true,\\\"tournament_title\\\":\\\"\\\",\\\"teams\\\":[{\\\"name\\\":\\\"\\\",\\\"city\\\":\\\"\\\",\\\"country\\\":\\\"\\\",\\\"website\\\":\\\"\\\",\\\"is_club\\\":true}]}. Rules: is_tournament=true only if this is a real volleyball tournament/event page (team list, standings, draw, groups) and not a federation homepage, a news article, or a shop. teams = each participating team/club exactly as listed on this page; set is_club=false when the entry is a NATIONAL TEAM, a country name, or an all-star/select squad (e.g. \\\"Germany\\\", \\\"Team USA\\\", \\\"Poland U21 National Team\\\"). country = the team country; if a country code or flag is shown next to the team (e.g. \\\"(CRO)\\\", \\\"(HUN)\\\") map it to the country name. website = the club own external site if linked on the page, else \\\"\\\". If there is no participant list on this page, return teams:[]. No prose, no code fences.' } ] }) }}",
        "options": {
          "timeout": 40000
        }
      },
      "id": "ext",
      "name": "Extract",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        620,
        0
      ],
      "onError": "continueRegularOutput",
      "credentials": {
        "anthropicApi": {
          "id": "PsTv3b7j6pP2jeMt",
          "name": "Anthropic (leblovina)"
        }
      }
    },
    {
      "parameters": {
        "mode": "runOnceForAllItems",
        "language": "javaScript",
        "jsCode": "const PB_URL=($('Config').first().json.pbUrl||'').replace(/\\/+$/,'');\nconst token=$('PB Auth').first().json.token; const pbH={Authorization:token};\nconst meta=($('Plan pages').first().json)||{};\nconst gk=$('Get Keyword').first().json||{};\nconst keyword=gk.keyword||meta.keyword||'';\nconst country=gk.country||meta.country||'';\nconst site=(($('Pick site').first().json||{}).site)||'';\nconst uslug=(s)=>String(s||'').toLowerCase().normalize('NFD').replace(/[\u0300-\u036f]/g,'').replace(/[^a-z0-9]+/g,'-').replace(/^-+|-+$/g,'').slice(0,80);\nlet resp=[]; try{ resp=$('Extract').all(); }catch(e){ resp=[]; }\nlet title=''; let anyTour=false; const teams=[]; const tseen=new Set();\nfor(const it of resp){ let out={}; try{ const txt=((((it.json||{}).content)||[])[0]||{}).text||''; out=JSON.parse(String(txt).replace(/```json/gi,'').replace(/```/g,'').trim()); }catch(e){ out={}; }\n  if(out&&out.is_tournament) anyTour=true; if(!title&&out&&out.tournament_title) title=out.tournament_title;\n  const arr=Array.isArray(out.teams)?out.teams:[];\n  for(const t of arr){ const nm=String((t&&t.name)||'').trim(); if(!nm)continue; const k=uslug(nm); if(!k||tseen.has(k))continue; tseen.add(k); teams.push(t); }\n}\nconst COUNTRIES=new Set(['afghanistan','albania','algeria','andorra','argentina','armenia','australia','austria','azerbaijan','bahrain','belarus','belgium','bosnia','bosnia and herzegovina','brazil','bulgaria','canada','chile','china','colombia','croatia','cuba','cyprus','czechia','czech republic','denmark','dominican republic','egypt','england','estonia','finland','france','georgia','germany','greece','hungary','iceland','india','iran','iraq','ireland','israel','italy','japan','kazakhstan','kosovo','latvia','lithuania','luxembourg','malta','mexico','moldova','monaco','montenegro','morocco','netherlands','north macedonia','norway','poland','portugal','puerto rico','qatar','romania','russia','san marino','serbia','slovakia','slovenia','south korea','korea','spain','sweden','switzerland','thailand','tunisia','turkey','turkiye','ukraine','united states','usa','uruguay','wales','scotland']);\nconst isCountry=(n)=>{const t=String(n||'').toLowerCase().normalize('NFD').replace(/[\u0300-\u036f]/g,'').replace(/\\b(national team|nationalteam|u-?\\d+|men|women|w|m)\\b/g,'').replace(/[^a-z ]/g,'').trim(); return COUNTRIES.has(t);};\nconst keyEsc=String(keyword).replace(/\"/g,'');\nlet tour=null; try{ const r=await this.helpers.httpRequest({method:'GET',url:PB_URL+'/api/collections/tournaments/records',qs:{filter:'keyword=\"'+keyEsc+'\"',perPage:1},headers:pbH,json:true}); tour=(r.items&&r.items[0])||null; }catch(e){}\nconst tbody={name:String(keyword||title).slice(0,200),keyword:keyword,country:country||'',website_url:site||'',participants_url:meta.participantsUrl||'',platform:String(meta.platform||'').slice(0,60),source:'google',results_count:meta.resultsCount||0,participants_count:teams.length,last_run:new Date().toISOString()};\nlet tid='';\nif(tour){ tid=tour.id; }\nelse { try{ const cr=await this.helpers.httpRequest({method:'POST',url:PB_URL+'/api/collections/tournaments/records',headers:pbH,body:Object.assign({},tbody,{status:'found'}),json:true}); tid=cr.id; }catch(e){ try{ const r=await this.helpers.httpRequest({method:'GET',url:PB_URL+'/api/collections/tournaments/records',qs:{filter:'keyword=\"'+keyEsc+'\"',perPage:1},headers:pbH,json:true}); tid=(r.items&&r.items[0]&&r.items[0].id)||''; }catch(_){} } }\n// keep surviving clubs (drop national teams / country names / select squads)\nconst kept0=[]; for(const t of teams){ const name=String((t&&t.name)||'').trim(); if(!name)continue; if(t.is_club===false||isCountry(name))continue; kept0.push(t); }\n// creation-time dedup guard: normalized name + same country (see specs/tournament-led-discovery.md v2.1)\nconst norm=(s)=>String(s||'').toLowerCase().normalize('NFD').replace(/[\u0300-\u036f]/g,'').replace(/[^a-z0-9]+/g,' ').replace(/\\s+/g,' ').trim();\nconst existing={}; // country -> Map(normName -> {id,website_url})\nconst countries=Array.from(new Set(kept0.map(t=>String(t.country||country||'').trim()).filter(Boolean)));\nfor(const co of countries){ const map=new Map(); let p=1;\n  while(true){ let r; try{ r=await this.helpers.httpRequest({method:'GET',url:PB_URL+'/api/collections/clubs/records',qs:{filter:'country=\"'+String(co).replace(/\"/g,'')+'\"',perPage:200,page:p,fields:'id,name,website_url'},headers:pbH,json:true}); }catch(e){ break; }\n    for(const it of (r.items||[])){ const k=norm(it.name); if(k&&!map.has(k)) map.set(k,it); }\n    if(!r.totalPages||p>=r.totalPages||p>=30) break; p++; }\n  existing[co]=map; }\nlet created=0,dup=0,merged=0; const kept=kept0.length; const newIds=[];\nfor(const t of kept0){ const name=String(t.name).trim(); const co=String(t.country||country||'').trim();\n  const tw=(/^https?:\\/\\//i.test(t.website||'')?t.website:'');\n  const map=existing[co]; const hit=map?map.get(norm(name)):null;\n  if(hit){ dup++; merged++; // enrich existing, keep its route: backfill website_url only if missing\n    if(tw && !hit.website_url){ try{ await this.helpers.httpRequest({method:'PATCH',url:PB_URL+'/api/collections/clubs/records/'+hit.id,headers:pbH,body:{website_url:tw},json:true}); hit.website_url=tw; }catch(e){} }\n    continue; }\n  const dk='tournament:'+tid+':'+uslug(name);\n  const club={tournament:tid,name:name.slice(0,200),country:String(co).slice(0,80),city:String(t.city||'').slice(0,100),website_url:tw,website_source:'tournament',status:'needs_review',dedup_key:dk,notes:'Tournament discovery: '+String(keyword||title).slice(0,120)};\n  try{ const cr=await this.helpers.httpRequest({method:'POST',url:PB_URL+'/api/collections/clubs/records',headers:pbH,body:club,json:true}); created++; newIds.push(cr.id);\n    if(co){ const m2=existing[co]||new Map(); m2.set(norm(name),{id:cr.id,website_url:club.website_url}); existing[co]=m2; } }catch(e){ dup++; }\n}\nif(newIds.length){ try{ await this.helpers.httpRequest({method:'POST',url:'https://n8n-2.biceps.digital/webhook/batch-enrich',headers:{'Content-Type':'application/json'},body:{ids:newIds,force:false},json:true,timeout:15000}); }catch(e){}\n  try{ await this.helpers.httpRequest({method:'POST',url:'https://n8n-2.biceps.digital/webhook/scrape-enqueue',headers:{'Content-Type':'application/json'},body:{ids:newIds},json:true,timeout:15000}); }catch(e){} }\nif(tid){ const st=kept?'extracted':(anyTour?'no_participants':'needs_review'); try{ await this.helpers.httpRequest({method:'PATCH',url:PB_URL+'/api/collections/tournaments/records/'+tid,headers:pbH,body:Object.assign({},tbody,{status:st,clubs_found:created,notes:'created '+created+', merged-into-existing '+merged+', pages '+resp.length}),json:true}); }catch(e){} }\ntry{ await this.helpers.httpRequest({method:'PATCH',url:PB_URL+'/api/collections/search_keywords/records/'+meta.kwId,headers:pbH,body:{status:'searched',searched_at:new Date().toISOString(),results_count:meta.resultsCount||0,accepted_count:kept,new_clubs:created,dup_count:dup},json:true}); }catch(e){}\nreturn [{json:{kwId:meta.kwId,tournament:tid,site:site,pages:resp.length,participants:teams.length,kept,created,merged,dup}}];\n"
      },
      "id": "crt",
      "name": "Create",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        780,
        0
      ]
    }
  ],
  "connections": {
    "Webhook": {
      "main": [
        [
          {
            "node": "Config",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Config": {
      "main": [
        [
          {
            "node": "PB Auth",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "PB Auth": {
      "main": [
        [
          {
            "node": "Get Keyword",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get Keyword": {
      "main": [
        [
          {
            "node": "Serper Search",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Serper Search": {
      "main": [
        [
          {
            "node": "Pick site",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Pick site": {
      "main": [
        [
          {
            "node": "Firecrawl Home",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Firecrawl Home": {
      "main": [
        [
          {
            "node": "Plan pages",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Plan pages": {
      "main": [
        [
          {
            "node": "Firecrawl Participants",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Firecrawl Participants": {
      "main": [
        [
          {
            "node": "Trim",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Trim": {
      "main": [
        [
          {
            "node": "Extract",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Extract": {
      "main": [
        [
          {
            "node": "Create",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1"
  },
  "active": false,
  "pinData": {},
  "meta": {
    "templateId": "leblovina-tournament-process"
  }
}