n8n/verify-contacts-reoon.json
{
  "name": "Leblovina — Verify contacts (Reoon)",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "verify-contacts-reoon",
        "responseMode": "responseNode",
        "options": {}
      },
      "id": "wh",
      "name": "Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [
        -1100,
        0
      ],
      "webhookId": "verify-contacts-reoon"
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ { \"started\": true, \"note\": \"Verification is running in the background; statuses update live in the table.\" } }}",
        "options": {}
      },
      "id": "resp",
      "name": "Respond",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [
        -940,
        0
      ]
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "p",
              "name": "pbUrl",
              "value": "https://leblovina.tools.biceps.digital",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "id": "cfg",
      "name": "Config",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -780,
        0
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{ $('Config').item.json.pbUrl }}/api/collections/_superusers/auth-with-password",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpCustomAuth",
        "options": {}
      },
      "id": "auth",
      "name": "PB Auth",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        -620,
        0
      ],
      "credentials": {
        "httpCustomAuth": {
          "id": "hzdBwrAqrPZjDmME",
          "name": "PocketBase admin (api)"
        }
      }
    },
    {
      "parameters": {
        "mode": "runOnceForAllItems",
        "language": "javaScript",
        "jsCode": "const PB_URL=($('Config').first().json.pbUrl||'').replace(/\\/+$/,'');\nconst token=$('PB Auth').first().json.token; const pbH={Authorization:token};\nconst body=($('Webhook').first().json.body)||{};\nconst force = body.force === true;\nlet reverifyDays=90;\ntry{ const s=await this.helpers.httpRequest({method:'GET',url:PB_URL+'/api/collections/settings/records',qs:{filter:'key=\"reoon\"',perPage:1},headers:pbH,json:true}); const v=(s.items&&s.items[0]&&s.items[0].value)||{}; if(v.reverify_days!=null)reverifyDays=v.reverify_days; }catch(e){}\nconst cutoffMs = Date.now() - (reverifyDays*86400000);\nlet contacts=[];\nif(Array.isArray(body.ids) && body.ids.length){\n  for(const id of body.ids){ try{ const c=await this.helpers.httpRequest({method:'GET',url:PB_URL+'/api/collections/contacts/records/'+id,headers:pbH,json:true}); contacts.push(c); }catch(e){} }\n} else {\n  const filter=body.filter||''; let page=1;\n  while(true){ const qs=Object.assign({perPage:500,page,fields:'id,email,verified_at,verification_status,blocklisted'},filter?{filter}:{}); const r=await this.helpers.httpRequest({method:'GET',url:PB_URL+'/api/collections/contacts/records',qs,headers:pbH,json:true}); contacts=contacts.concat(r.items||[]); if(page>=(r.totalPages||1))break; page++; }\n}\nconst seen=new Set();\nconst settled={verified:1,undeliverable:1,catch_all:1,mx_only:1};\nconst emails=[]; const map={};\nfor(const c of contacts){\n  if(!c.email||seen.has(c.email)) continue;\n  if(c.blocklisted===true) continue;\n  const vAt=c.verified_at? new Date(String(c.verified_at).replace(' ','T')).getTime():0;\n  if(!force && vAt && vAt>cutoffMs && settled[c.verification_status]) continue;\n  const em=String(c.email).trim(); if(!em) continue;\n  seen.add(c.email); emails.push(em); map[em.toLowerCase()]=c.id;\n}\nconst MAX=50000; let truncated=0;\nif(emails.length>MAX){ truncated=emails.length-MAX; emails.length=MAX; }\nconst sd=$getWorkflowStaticData('global'); const now=new Date().toISOString();\nlet jobId='';\ntry{ const j=await this.helpers.httpRequest({method:'POST',url:PB_URL+'/api/collections/job_runs/records',headers:pbH,body:{kind:'verify-reoon',label:'Verify emails (Reoon)',status:'running',total:emails.length,processed:0,started:now,message:'Submitting to Reoon…'},json:true}); jobId=j.id; }catch(e){}\nsd.verifyJobId=jobId; sd.verifyTotal=emails.length; sd.verifyMap=map; sd.verifyPoll=0; sd.verifyWritten=0;\nif(!emails.length){ if(jobId){ try{ await this.helpers.httpRequest({method:'PATCH',url:PB_URL+'/api/collections/job_runs/records/'+jobId,headers:pbH,body:{status:'done',finished:now,processed:0,message:'Nothing to verify'},json:true}); }catch(e){} sd.verifyJobId=''; } return []; }\nconst name='leblovina-verify-'+now;\nreturn [{json:{name, emails, truncated}}];\n"
      },
      "id": "pick",
      "name": "Pick contacts",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -460,
        0
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://emailverifier.reoon.com/api/v1/create-bulk-verification-task/",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpCustomAuth",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ { name: $json.name, emails: $json.emails } }}",
        "options": {
          "timeout": 30000
        }
      },
      "id": "create",
      "name": "Create task",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        -280,
        0
      ],
      "credentials": {
        "httpCustomAuth": {
          "id": "REPLACE_REOON_CRED",
          "name": "Reoon (bulk)"
        }
      }
    },
    {
      "parameters": {
        "amount": 20,
        "unit": "seconds"
      },
      "id": "wait",
      "name": "Wait",
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1.1,
      "position": [
        -100,
        0
      ],
      "webhookId": "reoon-bulk-wait"
    },
    {
      "parameters": {
        "url": "https://emailverifier.reoon.com/api/v1/get-result-bulk-verification-task/",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpCustomAuth",
        "sendQuery": true,
        "specifyQuery": "keypair",
        "queryParameters": {
          "parameters": [
            {
              "name": "task_id",
              "value": "={{ $('Create task').first().json.task_id }}"
            }
          ]
        },
        "options": {
          "timeout": 30000
        }
      },
      "id": "getres",
      "name": "Get result",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        80,
        0
      ],
      "credentials": {
        "httpCustomAuth": {
          "id": "REPLACE_REOON_CRED",
          "name": "Reoon (bulk)"
        }
      }
    },
    {
      "parameters": {
        "mode": "runOnceForAllItems",
        "language": "javaScript",
        "jsCode": "const PB_URL=($('Config').first().json.pbUrl||'').replace(/\\/+$/,'');\nconst token=$('PB Auth').first().json.token; const pbH={Authorization:token};\nconst r=$json||{};\nconst sd=$getWorkflowStaticData('global');\nsd.verifyPoll=(sd.verifyPoll||0)+1;\nconst status=String(r.status||'');\nconst total=Number(r.count_total||sd.verifyTotal||0);\nconst checked=Number(r.count_checked||0);\nif(sd.verifyJobId){ try{ await this.helpers.httpRequest({method:'PATCH',url:PB_URL+'/api/collections/job_runs/records/'+sd.verifyJobId,headers:pbH,body:{processed:checked,total:total,message:'Verifying… '+checked+'/'+total},json:true}); }catch(e){} }\nconst hardFail=['file_not_found','file_loading_error'].includes(status);\nconst timedOut=sd.verifyPoll>180;\nconst done = status==='completed' || hardFail || timedOut;\nreturn [{json:{done, failed:(hardFail||timedOut), status, results:(r.results||{})}}];\n"
      },
      "id": "polltick",
      "name": "Poll tick",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        260,
        0
      ]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "loose",
            "version": 2
          },
          "conditions": [
            {
              "id": "c1",
              "leftValue": "={{ $json.done }}",
              "rightValue": "",
              "operator": {
                "type": "boolean",
                "operation": "true",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "ifdone",
      "name": "IF done?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        440,
        0
      ]
    },
    {
      "parameters": {
        "mode": "runOnceForAllItems",
        "language": "javaScript",
        "jsCode": "const PB_URL=($('Config').first().json.pbUrl||'').replace(/\\/+$/,'');\nconst token=$('PB Auth').first().json.token; const pbH={Authorization:token};\nconst sd=$getWorkflowStaticData('global');\nconst map=sd.verifyMap||{};\nconst results=($json && $json.results)||{};\nconst now=new Date().toISOString();\nfunction mapStatus(r){ const s=((r&&r.status)||'').toString().toLowerCase();\n  if(s==='safe'||s==='role_account') return 'verified';\n  if(s==='catch_all') return 'catch_all';\n  if(['invalid','disabled','disposable','spamtrap','inbox_full','undeliverable'].includes(s)) return 'undeliverable';\n  if(s==='unknown' && r && r.mx_accepts_mail===true && r.is_valid_syntax!==false) return 'mx_only';\n  return 'unknown'; }\nconst tasks=[];\nfor(const em of Object.keys(results)){ const id=map[String(em).toLowerCase()]; if(!id) continue; tasks.push({id, vs:mapStatus(results[em]||{})}); }\nlet written=0;\nfor(let i=0;i<tasks.length;i+=25){ await Promise.all(tasks.slice(i,i+25).map(t=>this.helpers.httpRequest({method:'PATCH',url:PB_URL+'/api/collections/contacts/records/'+t.id,headers:pbH,body:{verification_status:t.vs,verified_at:now},json:true}).then(()=>{written++;}).catch(()=>{}))); }\nsd.verifyWritten=written;\nreturn [{json:{written, failed: ($json && $json.failed)===true}}];\n"
      },
      "id": "write",
      "name": "Write back",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        620,
        -120
      ]
    },
    {
      "parameters": {
        "mode": "runOnceForAllItems",
        "language": "javaScript",
        "jsCode": "const PB_URL=($('Config').first().json.pbUrl||'').replace(/\\/+$/,'');\nconst token=$('PB Auth').first().json.token; const pbH={Authorization:token};\nconst now=new Date().toISOString();\ntry{ const s=await this.helpers.httpRequest({method:'GET',url:PB_URL+'/api/collections/settings/records',qs:{filter:'key=\"reoon\"',perPage:1},headers:pbH,json:true}); const rec=s.items&&s.items[0]; if(rec){ const v=rec.value||{}; v.last_run=now; await this.helpers.httpRequest({method:'PATCH',url:PB_URL+'/api/collections/settings/records/'+rec.id,headers:pbH,body:{value:v},json:true}); } }catch(e){}\nconst sd=$getWorkflowStaticData('global');\nconst written=sd.verifyWritten||0;\nconst failed=($json && $json.failed)===true;\nif(sd.verifyJobId){ try{ await this.helpers.httpRequest({method:'PATCH',url:PB_URL+'/api/collections/job_runs/records/'+sd.verifyJobId,headers:pbH,body:{status:(failed?'error':'done'),finished:now,processed:written,message:(failed?'Reoon task did not complete (timed out)':('Verified '+written+' contact(s)'))},json:true}); }catch(e){} sd.verifyJobId=''; }\nreturn [{json:{done:true, written}}];\n"
      },
      "id": "finish",
      "name": "Finish",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        800,
        -120
      ]
    }
  ],
  "connections": {
    "Webhook": {
      "main": [
        [
          {
            "node": "Respond",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Respond": {
      "main": [
        [
          {
            "node": "Config",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Config": {
      "main": [
        [
          {
            "node": "PB Auth",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "PB Auth": {
      "main": [
        [
          {
            "node": "Pick contacts",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Pick contacts": {
      "main": [
        [
          {
            "node": "Create task",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Create task": {
      "main": [
        [
          {
            "node": "Wait",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Wait": {
      "main": [
        [
          {
            "node": "Get result",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get result": {
      "main": [
        [
          {
            "node": "Poll tick",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Poll tick": {
      "main": [
        [
          {
            "node": "IF done?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "IF done?": {
      "main": [
        [
          {
            "node": "Write back",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Wait",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Write back": {
      "main": [
        [
          {
            "node": "Finish",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1"
  },
  "active": false,
  "pinData": {},
  "meta": {
    "templateId": "leblovina-verify-contacts-reoon"
  }
}