n8n/verify-contacts-reoon.json
{
  "name": "Leblovina — Verify contacts (Reoon)",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "verify-contacts-reoon",
        "responseMode": "responseNode",
        "options": {}
      },
      "id": "wh",
      "name": "Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [
        -900,
        0
      ],
      "webhookId": "verify-contacts-reoon"
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ { \"started\": true, \"note\": \"Verification is running in the background; statuses update live in the table.\" } }}",
        "options": {}
      },
      "id": "resp",
      "name": "Respond",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [
        -740,
        0
      ]
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "p",
              "name": "pbUrl",
              "value": "https://leblovina.tools.biceps.digital",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "id": "cfg",
      "name": "Config",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -580,
        0
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{ $('Config').item.json.pbUrl }}/api/collections/_superusers/auth-with-password",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpCustomAuth",
        "options": {}
      },
      "id": "auth",
      "name": "PB Auth",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        -420,
        0
      ],
      "credentials": {
        "httpCustomAuth": {
          "id": "hzdBwrAqrPZjDmME",
          "name": "PocketBase admin (api)"
        }
      }
    },
    {
      "parameters": {
        "mode": "runOnceForAllItems",
        "language": "javaScript",
        "jsCode": "const PB_URL=($('Config').first().json.pbUrl||'').replace(/\\/+$/,'');\nconst token=$('PB Auth').first().json.token; const pbH={Authorization:token};\nconst body=($('Webhook').first().json.body)||{};\nconst force = body.force === true;\nlet mode='power', reverifyDays=90;\ntry{ const s=await this.helpers.httpRequest({method:'GET',url:PB_URL+'/api/collections/settings/records',qs:{filter:'key=\"reoon\"',perPage:1},headers:pbH,json:true}); const v=(s.items&&s.items[0]&&s.items[0].value)||{}; if(v.mode)mode=v.mode; if(v.reverify_days!=null)reverifyDays=v.reverify_days; }catch(e){}\nconst cutoffMs = Date.now() - (reverifyDays*86400000);\nlet contacts=[];\nif(Array.isArray(body.ids) && body.ids.length){\n  for(const id of body.ids){ try{ const c=await this.helpers.httpRequest({method:'GET',url:PB_URL+'/api/collections/contacts/records/'+id,headers:pbH,json:true}); contacts.push(c); }catch(e){} }\n} else {\n  const filter=body.filter||''; let page=1;\n  while(true){ const qs=Object.assign({perPage:500,page,fields:'id,email,verified_at,verification_status,blocklisted'},filter?{filter}:{}); const r=await this.helpers.httpRequest({method:'GET',url:PB_URL+'/api/collections/contacts/records',qs,headers:pbH,json:true}); contacts=contacts.concat(r.items||[]); if(page>=(r.totalPages||1))break; page++; }\n}\nconst out=[]; const seen=new Set();\nconst settled={verified:1,undeliverable:1,catch_all:1};\nfor(const c of contacts){\n  if(!c.email||seen.has(c.email)) continue;\n  if(c.blocklisted===true) continue;\n  const vAt=c.verified_at? new Date(String(c.verified_at).replace(' ','T')).getTime():0;\n  if(!force && vAt && vAt>cutoffMs && settled[c.verification_status]) continue;\n  seen.add(c.email); out.push({json:{id:c.id,email:c.email,mode}});\n}\n// --- job_runs: open the run so the UI shows live progress ---\nconst sd=$getWorkflowStaticData('global'); const now=new Date().toISOString();\nlet jobId='';\ntry{ const j=await this.helpers.httpRequest({method:'POST',url:PB_URL+'/api/collections/job_runs/records',headers:pbH,body:{kind:'verify-reoon',label:'Verify emails (Reoon)',status:'running',total:out.length,processed:0,started:now},json:true}); jobId=j.id; }catch(e){}\nsd.verifyJobId=jobId; sd.verifyProcessed=0; sd.verifyTotal=out.length;\nreturn out;\n"
      },
      "id": "pick",
      "name": "Pick contacts",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -240,
        0
      ]
    },
    {
      "parameters": {
        "batchSize": 100,
        "options": {}
      },
      "id": "loop",
      "name": "Loop",
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 3,
      "position": [
        -40,
        0
      ]
    },
    {
      "parameters": {
        "url": "=https://emailverifier.reoon.com/api/v1/verify?email={{ encodeURIComponent($json.email) }}&mode={{ $json.mode }}",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpQueryAuth",
        "options": {
          "timeout": 30000
        }
      },
      "id": "reoon",
      "name": "Reoon verify",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        220,
        120
      ],
      "onError": "continueRegularOutput",
      "credentials": {
        "httpQueryAuth": {
          "id": "REPLACE_REOON_CRED",
          "name": "Reoon (api)"
        }
      }
    },
    {
      "parameters": {
        "mode": "runOnceForAllItems",
        "language": "javaScript",
        "jsCode": "const PB_URL=($('Config').first().json.pbUrl||'').replace(/\\/+$/,'');\nconst token=$('PB Auth').first().json.token; const pbH={Authorization:token};\nconst batch=$('Loop').all();\nconst results=$input.all();\nconst now=new Date().toISOString();\nfunction mapStatus(s){ s=(s||'').toString().toLowerCase();\n  if(s==='safe'||s==='role_account') return 'verified';\n  if(s==='catch_all') return 'catch_all';\n  if(['invalid','disabled','disposable','spamtrap','inbox_full','undeliverable'].includes(s)) return 'undeliverable';\n  return 'unknown'; }\nconst tasks=[];\nfor(let i=0;i<batch.length;i++){ const id=batch[i].json.id; const r=(results[i]&&results[i].json)||{}; tasks.push({id, vs:mapStatus(r.status)}); }\nfor(let i=0;i<tasks.length;i+=25){ await Promise.all(tasks.slice(i,i+25).map(t=>this.helpers.httpRequest({method:'PATCH',url:PB_URL+'/api/collections/contacts/records/'+t.id,headers:pbH,body:{verification_status:t.vs,verified_at:now},json:true}).catch(()=>{}))); }\n// --- job_runs heartbeat ---\nconst sd=$getWorkflowStaticData('global');\nif(sd.verifyJobId){ try{ sd.verifyProcessed=(sd.verifyProcessed||0)+batch.length; await this.helpers.httpRequest({method:'PATCH',url:PB_URL+'/api/collections/job_runs/records/'+sd.verifyJobId,headers:pbH,body:{processed:sd.verifyProcessed,message:'verifying…'},json:true}); }catch(e){} }\nreturn $input.all();\n"
      },
      "id": "write",
      "name": "Write back",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        460,
        120
      ]
    },
    {
      "parameters": {
        "mode": "runOnceForAllItems",
        "language": "javaScript",
        "jsCode": "const PB_URL=($('Config').first().json.pbUrl||'').replace(/\\/+$/,'');\nconst token=$('PB Auth').first().json.token; const pbH={Authorization:token};\nconst now=new Date().toISOString();\ntry{ const s=await this.helpers.httpRequest({method:'GET',url:PB_URL+'/api/collections/settings/records',qs:{filter:'key=\"reoon\"',perPage:1},headers:pbH,json:true}); const rec=s.items&&s.items[0]; if(rec){ const v=rec.value||{}; v.last_run=now; await this.helpers.httpRequest({method:'PATCH',url:PB_URL+'/api/collections/settings/records/'+rec.id,headers:pbH,body:{value:v},json:true}); } }catch(e){}\n// --- job_runs: close the run ---\nconst sd=$getWorkflowStaticData('global');\nif(sd.verifyJobId){ try{ await this.helpers.httpRequest({method:'PATCH',url:PB_URL+'/api/collections/job_runs/records/'+sd.verifyJobId,headers:pbH,body:{status:'done',finished:now,processed:(sd.verifyProcessed||sd.verifyTotal||0),message:'Verification complete'},json:true}); }catch(e){} sd.verifyJobId=''; }\nreturn [{json:{done:true,verified_at:now}}];\n"
      },
      "id": "finish",
      "name": "Finish",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        220,
        -120
      ]
    }
  ],
  "connections": {
    "Webhook": {
      "main": [
        [
          {
            "node": "Respond",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Respond": {
      "main": [
        [
          {
            "node": "Config",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Config": {
      "main": [
        [
          {
            "node": "PB Auth",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "PB Auth": {
      "main": [
        [
          {
            "node": "Pick contacts",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Pick contacts": {
      "main": [
        [
          {
            "node": "Loop",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Loop": {
      "main": [
        [
          {
            "node": "Finish",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Reoon verify",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Reoon verify": {
      "main": [
        [
          {
            "node": "Write back",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Write back": {
      "main": [
        [
          {
            "node": "Loop",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1"
  },
  "active": false,
  "pinData": {},
  "meta": {
    "templateId": "leblovina-verify-contacts-reoon"
  }
}